.vertnav{float:left;width:100%}.vertnav .number{color:#aaa;margin-left:3px}.vertnav li > a > span > .cat-label{position:static;display:inline-block !important;padding:0 4px;margin-left:3px;font-size:inherit;line-height:inherit}.vertnav li > a > span > .pin-bottom:before{display:none}