<?php
/*
 * Adding javascript include
 */
if ('front' != Mage::app()->getRequest()->getControllerName()) {
    ?>
    <script type="text/javascript" src="<?php echo $this->getSkinUrl(); ?>js/FME/fme_layered_nav.js"></script> 
    <?php
}
?>
<div class="only-mobile">
	
	<a class="layered_trigger" href="javascript:void(0);">
		Filter resultaten
	</a>
	
	<div style="display: none" class="filterplaceholder">
		&nbsp;
	</div>
	
</div>

<script type="text/javascript">
	jQuery(document).ready(function(){
		
		jQuery('a.layered_trigger').click(function(){
			jQuery("#catalog-filters").appendTo(".filterplaceholder");
			jQuery(".filterplaceholder").toggle("show");
			
		});
		
		if (window.matchMedia('(max-width: 767px)').matches) {
		   jQuery("#catalog-filters").appendTo(".filterplaceholder");
		}
		
	});
	
	jQuery(window).resize(function() {
	  if (window.matchMedia('(max-width: 767px)').matches) {
	     jQuery("#catalog-filters").appendTo(".filterplaceholder");
	  } else {
	  	jQuery("#catalog-filters").appendTo(".sidebar");
	  }
	});
</script>