<?php

/**
 * MageWorx
 * CustomOptions Extension
 * 
 * @category   MageWorx
 * @package    MageWorx_CustomOptions
 * @copyright  Copyright (c) 2015 MageWorx (http://www.mageworx.com/)
 */

$helper = Mage::helper('mageworx_customoptions');

$thumbnailsSize = $helper->getImagesThumbnailsSize();
if ($thumbnailsSize > 70 || $thumbnailsSize==0) $thumbnailsSize = 70;
?>
<script type="text/javascript">
    //<![CDATA[
    OptionTemplateSelect = '<table class="border" cellpadding="0" cellspacing="0" style="width:<?php echo $helper->calculateAdditionalWidthOfFields(800) ?>px;">'+        
        '<thead>'+
        '<tr class="headings">'+
        <?php if ($helper->isDependentEnabled()) { ?>'<th class="type-id"><?php echo $helper->__js('Id') ?></th>'+<?php } ?>
        '<th<?php if ($helper->isSpecialPriceEnabled() || $helper->isTierPriceEnabled()) { ?> colspan="2"<?php } ?> class="type-title"><?php echo $helper->__js('Title') ?> <span class="required">*</span></th>'+
        '<th class="type-price"><?php echo $helper->__js('Price') ?></th>'+
        '<th class="type-type"><?php echo $helper->__js('Price Type') ?></th>'+
        <?php if ($helper->isSpecialPriceEnabled()) { ?>'<th class="type-special-price"><?php echo $helper->__js('Spec') ?></th>'+<?php } ?>
        <?php if ($helper->isTierPriceEnabled()) { ?>'<th class="type-tier-price"><?php echo $helper->__js('Tier') ?></th>'+<?php } ?>
        <?php if ($helper->isOptionVariationDescriptionEnabled()) { ?>'<th class="type-description"><?php echo $helper->__js('Description') ?></th>'+<?php } ?>
        <?php if ($helper->isCostEnabled()) { ?>'<th class="type-type"><?php echo $helper->__js('Cost') ?></th>'+<?php } ?>
        <?php if ($helper->isWeightEnabled()) { ?>'<th class="type-type"><?php echo $helper->__js('Weight') ?></th>'+<?php } ?>
        '<th class="type-sku"><?php echo $helper->__js('SKU') ?></th>'+
        <?php if ($helper->isUpcEnabled()) { ?>'<th class="type-upc"><?php echo $helper->__js('UPC') ?></th>'+<?php } ?>
        '<th class="type-order"><?php echo $helper->__js('Sort Order') ?></th>'+
          '<th class="type-order"><?php echo $helper->__js('Leadtime') ?></th>'+
        <?php if ($helper->isInventoryEnabled()) { ?>'<th class="type-qty"><?php echo $helper->__js('Qty') ?></th>'+<?php } ?>
        <?php if ($helper->isExtrasEnabled()) { ?>'<th class="type-qty"><?php echo $helper->__js('Extra') ?></th>'+<?php } ?>
        <?php if ($helper->isInventoryEnabled() && $helper->allowedMinQtyInCart()) { ?>'<th class="type-qty"><?php echo $helper->__js('Min. Qty') ?></th>'+<?php } ?>
        <?php if ($helper->isInventoryEnabled() && $helper->allowedMaxQtyInCart()) { ?>'<th class="type-qty"><?php echo $helper->__js('Max. Qty') ?></th>'+<?php } ?>
        '<th class="type-default"><?php echo $helper->__js('Default') ?></th>'+
        <?php if ($helper->isDependentEnabled()) { ?>'<th class="type-dependent-ids"><?php echo $helper->__js('Children') ?></th>'+<?php } ?>
        '<th class="type-image"><?php echo $helper->__js('Image') ?></th>'+
        '<th class="type-butt last">'+
            '&nbsp;'+
            '<input type="hidden" class="required-option-select-type-rows" name="validation_{{option_id}}_result" value="" >'+
            '<input type="hidden" class="igi" id="product_option_{{option_id}}_in_group_id" name="product[options][{{option_id}}][in_group_id]" value="{{in_group_id}}"/>'+
        '</th>'+
        '</tr>'+
        '</thead>'+
        '<tbody id="select_option_type_row_{{option_id}}">'+
        '</tbody>'+
        '<tfoot>'+
        '<tr>'+
        '<td colspan="100" class="a-right">'+                
            '<?php echo $helper->jsEscape($this->getAddButtonHtml()) ?>'+            
         '</td>'+
        '</tr>'+
        '</tfoot>'+
        '</table>';

    OptionTemplateSelectRow = '<tr id="product_option_{{id}}_select_{{select_id}}">'+
            <?php if ($helper->isDependentEnabled()) { ?>'<td align="center">{{in_group_id_view}}</td>'+<?php } ?>
            '<td<?php if ($helper->isSpecialPriceEnabled() || $helper->isTierPriceEnabled()) { ?> colspan="2"<?php } ?>>'+
                '<input type="hidden" name="product[options][{{id}}][values][{{select_id}}][option_type_id]" value="{{option_type_id}}">'+
                '<input type="hidden" id="product_option_{{id}}_select_{{select_id}}_is_delete" name="product[options][{{id}}][values][{{select_id}}][is_delete]" value="">'+
                '<input type="hidden" class="igi" id="product_option_{{id}}_select_{{select_id}}_in_group_id" name="product[options][{{id}}][values][{{select_id}}][in_group_id]" value="{{in_group_id}}"/>'+
                '<input type="text" class="<?php if (!$helper->isSkuNameLinkingEnabled()) echo 'required-entry '; ?>input-text select-type-title" id="product_option_{{id}}_select_{{select_id}}_title" name="product[options][{{id}}][values][{{select_id}}][title]" value="{{title}}">{{checkboxScopeTitle}}'+
            '</td>'+
            '<td><input type="text" class="input-text validate-number product-option-price" id="product_option_{{id}}_select_{{select_id}}_price" name="product[options][{{id}}][values][{{select_id}}][price]" value="{{price}}" ></td>'+
            '<td><?php echo $helper->jsEscape($this->getPriceTypeSelectHtml()) ?>{{checkboxScopePrice}}</td>'+
            <?php if ($helper->isSpecialPriceEnabled()) { ?>'<td align="center"><?php echo $helper->jsEscape($this->getAddSpecialPriceButtonHtml()) ?></td>'+<?php } ?>
            <?php if ($helper->isTierPriceEnabled()) { ?>'<td align="center"><?php echo $helper->jsEscape($this->getAddTierPriceButtonHtml()) ?></td>'+<?php } ?>
            
            <?php if ($helper->isOptionVariationDescriptionEnabled()) { ?>'<td><input type="text" class="input-text select-type-description" id="product_option_{{id}}_select_{{select_id}}_description" name="product[options][{{id}}][values][{{select_id}}][description]" value="{{description}}">{{checkboxScopeDescription}}</td>'+<?php } ?>
                
            <?php if ($helper->isCostEnabled()) { ?>'<td><input type="text" class="input-text validate-number product-option-cost" id="product_option_{{id}}_select_{{select_id}}_cost" name="product[options][{{id}}][values][{{select_id}}][cost]" value="{{cost}}" {{cost_disabled}}></td>'+<?php } ?>
            <?php if ($helper->isWeightEnabled()) { ?>'<td><input type="text" class="input-text validate-number product-option-weight" id="product_option_{{id}}_select_{{select_id}}_weight" name="product[options][{{id}}][values][{{select_id}}][weight]" value="{{weight}}" {{weight_disabled}}></td>'+<?php } ?>
            '<td>'+
                '<input type="text" class="input-sku{{sku_class}}" id="product_option_{{id}}_select_{{select_id}}_sku" name="product[options][{{id}}][values][{{select_id}}][sku]" value="{{sku}}" onchange="if (!this.value) selectOptionType.enableQtyAndPrice({{id}}, {{select_id}});">'+
                '{{view_product_by_sku_html}}'+
            '</td>'+
            <?php if ($helper->isUpcEnabled()) { ?>'<td><input type="text" class="input-text validate-number product-option-upc" id="product_option_{{id}}_select_{{select_id}}_upc" name="product[options][{{id}}][values][{{select_id}}][upc]" value="{{upc}}" {{upc_disabled}}></td>'+<?php } ?>
            '<td><input type="text" class="validate-zero-or-greater input-text" id="product_option_{{id}}_select_{{select_id}}_sort_order" name="product[options][{{id}}][values][{{select_id}}][sort_order]" value="{{sort_order}}"></td>'+
            '<td><input type="text" class="" id="product_option_{{id}}_select_{{select_id}}_leadtime" name="product[options][{{id}}][values][{{select_id}}][leadtime]" value="{{leadtime}}"></td>'+
       
            <?php if ($helper->isInventoryEnabled()): ?>
                '<td><input type="text" class="input-text validate-number" name="product[options][{{id}}][values][{{select_id}}][customoptions_qty]" id="product_option_{{id}}_select_{{select_id}}_customoptions_qty" value="{{customoptions_qty}}" {{customoptions_qty_disabled}}></td>'+
            <?php endif; ?>
            <?php if ($helper->isExtrasEnabled()): ?>
                '<td><input type="text" class="input-text" name="product[options][{{id}}][values][{{select_id}}][extra]" id="product_option_{{id}}_select_{{select_id}}_extra" value="{{extra}}" {{extra_disabled}}></td>'+
            <?php endif; ?>
            <?php if ($helper->isInventoryEnabled() && $helper->allowedMinQtyInCart()): ?>
                '<td><input type="text" class="input-text validate-number" name="product[options][{{id}}][values][{{select_id}}][customoptions_min_qty]" id="product_option_{{id}}_select_{{select_id}}_customoptions_min_qty" value="{{customoptions_min_qty}}"></td>'+
            <?php endif; ?>
            <?php if ($helper->isInventoryEnabled() && $helper->allowedMaxQtyInCart()): ?>
                '<td><input type="text" class="input-text validate-number" name="product[options][{{id}}][values][{{select_id}}][customoptions_max_qty]" id="product_option_{{id}}_select_{{select_id}}_customoptions_max_qty" value="{{customoptions_max_qty}}"></td>'+
            <?php endif; ?>
            '<td><input id="product_option_{{id}}_select_{{select_id}}_default" type="{{default_type}}" class="input-text" name="product[options][{{id}}][default][]" value="{{select_id}}" {{checked}} onclick="if (this.up().hasClassName(\'checked\') && this.checked) this.checked=false; if (this.checked) this.up().addClassName(\'checked\'); else this.up().removeClassName(\'checked\');" onmouseover="if (this.checked) this.up().addClassName(\'checked\'); else this.up().removeClassName(\'checked\');"></td>'+                        
            <?php if ($helper->isDependentEnabled()) { ?>
                '<td align="center" class="nowrap">'+
                    '<input type="text" class="input-children" id="dependent_ids_{{in_group_id}}" name="product[options][{{id}}][values][{{select_id}}][dependent_ids]" value="{{dependent_ids}}">&nbsp;'+
                    '<img src="<?php echo $this->getSkinUrl('images/rule_chooser_trigger.gif') ?>" alt="S" title="<?php echo $this->htmlEscape($helper->__('Select Children')) ?>" class="v-middle pointer" onclick="productChildrenOptions.show({{in_group_id}}, event);" />'+
                '</td>'+
            <?php } ?>
            '<td><?php echo $helper->jsEscape($this->getAddImageButtonHtml()) ?></td>'+
            '<td class="last"><span title="Delete row"><?php echo $helper->jsEscape($this->getDeleteButtonHtml()) ?></span></td>'+
        '</tr>'+
        <?php if ($helper->isSpecialPriceEnabled()) { ?>
            '<tr id="special_price_row_{{select_id}}" class="headings" style="height:16px; display:none;">'+
                <?php if ($helper->isDependentEnabled()) { ?>'<td></td>'+<?php } ?>
                '<th colspan="5" >'+
                    '<div style="position:absolute;">'+
                        '<div style="position:relative; top:-4px; ">'+
                            '<?php echo $helper->__js('Special Prices:') ?>'+
                        '</div>'+
                    '</div>'+
                '</th>'+
            '</tr>'+
        <?php } ?>
        <?php if ($helper->isTierPriceEnabled()) { ?>
            '<tr id="tier_price_row_{{select_id}}" class="headings" style="height:16px; display:none;">'+
                <?php if ($helper->isDependentEnabled()) { ?>'<td></td>'+<?php } ?>
                '<th colspan="5" >'+
                    '<div style="position:absolute;">'+
                        '<div style="position:relative; top:-4px; ">'+
                            '<?php echo $helper->__js('Tier Prices:') ?>'+
                        '</div>'+
                    '</div>'+
                '</th>'+
            '</tr>'+
        <?php } ?>
        '<tr id="image_option_row_{{select_id}}" style="{{image_tr_style}}">'+
            <?php if ($helper->isDependentEnabled()) { ?>'<td>&nbsp;</td>'+<?php } ?>
            '<td colspan="<?php if ($helper->isSpecialPriceEnabled() || $helper->isTierPriceEnabled()) echo '5'; else echo '3'; ?>" id="image_option_td_{{select_id}}"></td>'+
        '</tr>';

    OptionTemplateSelectSpecialPriceRow = '<tr id="product_option_{{id}}_select_{{select_id}}_price_special_{{special_price_id}}">'+
        <?php if ($helper->isDependentEnabled()) { ?>'<td>&nbsp;</td>'+<?php } ?>
        '<td align="center">'+
            '<input type="hidden" id="product_option_{{id}}_select_{{select_id}}_price_special_{{special_price_id}}_real" name="product[options][{{id}}][values][{{select_id}}][specials][{{special_price_id}}][special_price_id]" value="{{special_price_real_id}}" />'+
            '<input type="hidden" id="product_option_{{id}}_select_{{select_id}}_price_special_{{special_price_id}}_is_delete" name="product[options][{{id}}][values][{{select_id}}][specials][{{special_price_id}}][is_delete]" value="" />'+
            '<input type="text" class="input-text" id="product_option_{{id}}_select_{{select_id}}_price_special_{{special_price_id}}_comment" name="product[options][{{id}}][values][{{select_id}}][specials][{{special_price_id}}][comment]" value="{{comment}}" title="<?php echo $helper->__js('Comment') ?>">'+
            <?php if ($helper->isSpecialPriceDateEnabled()) { ?>'<div style="margin-top:4px;">'+
                '<?php echo $helper->__js('From:') ?>&nbsp;'+
                '<input style="width:64px !important;" type="text" class="input-text" id="product_option_{{id}}_select_{{select_id}}_price_special_{{special_price_id}}_date_from" name="product[options][{{id}}][values][{{select_id}}][specials][{{special_price_id}}][date_from]" value="{{date_from}}" title="<?php echo $helper->__js('From Date') ?>">&nbsp;'+
                '<img src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>" class="v-middle pointer"  id="product_option_{{id}}_select_{{select_id}}_price_special_{{special_price_id}}_date_from_trig" title="<?php echo $helper->__js('Select Date') ?>" alt="" />'+
            '</div>'+<?php } ?>
        '</td>'+
        '<td align="center">'+
            '<?php echo $helper->jsEscape($this->getSpecialCustomerGroupsSelectHtml()) ?>'+
            <?php if ($helper->isSpecialPriceDateEnabled()) { ?>'<div style="margin-top:4px;">'+
                '<?php echo $helper->__js('To:') ?>&nbsp;'+
                '<input style="width:64px !important;" type="text" class="input-text" id="product_option_{{id}}_select_{{select_id}}_price_special_{{special_price_id}}_date_to" name="product[options][{{id}}][values][{{select_id}}][specials][{{special_price_id}}][date_to]" value="{{date_to}}" title="<?php echo $helper->__js('To Date') ?>">&nbsp;'+
                '<img src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>" class="v-middle pointer"  id="product_option_{{id}}_select_{{select_id}}_price_special_{{special_price_id}}_date_to_trig" title="<?php echo $helper->__js('Select Date') ?>" alt="" />'+
            '</div>'+<?php } ?>
        '</td>'+
        '<td class="v-middle"><input type="text" class="input-text required-entry validate-number" id="product_option_{{id}}_select_{{select_id}}_price_special_{{special_price_id}}_price" name="product[options][{{id}}][values][{{select_id}}][specials][{{special_price_id}}][price]" value="{{price}}"></td>'+
        '<td class="v-middle"><?php echo $helper->jsEscape($this->getSpecialPriceTypeSelectHtml()) ?></td>'+
        '<td align="center" class="v-middle">'+
            '<button type="button" id="product_option_{{id}}_select_{{select_id}}_price_special_{{special_price_id}}_button" onclick="selectOptionType.removePriceRow(this)" class="delete icon-btn narrow-delete-button"><span><?php echo $helper->__js('Hide') ?></span></button>'+
        '</td>';

    OptionTemplateSelectTierPriceRow = '<tr id="product_option_{{id}}_select_{{select_id}}_price_tier_{{tier_price_id}}">'+
        <?php if ($helper->isDependentEnabled()) { ?>'<td>&nbsp;</td>'+<?php } ?>
        '<td align="center"><?php echo $helper->jsEscape($this->getTierCustomerGroupsSelectHtml()) ?></td>'+
        '<td class="nowrap">'+
            '<input type="hidden" id="product_option_{{id}}_select_{{select_id}}_price_tier_{{tier_price_id}}_real" name="product[options][{{id}}][values][{{select_id}}][tiers][{{tier_price_id}}][tier_price_id]" value="{{tier_price_real_id}}" />'+
            '<input type="hidden" id="product_option_{{id}}_select_{{select_id}}_price_tier_{{tier_price_id}}_is_delete" name="product[options][{{id}}][values][{{select_id}}][tiers][{{tier_price_id}}][is_delete]" value="" />'+
            '<input type="text" class="input-text required-entry validate-digits-range digits-range-2-999999999" style="width:40px !important;" id="product_option_{{id}}_select_{{select_id}}_price_tier_{{tier_price_id}}_qty" name="product[options][{{id}}][values][{{select_id}}][tiers][{{tier_price_id}}][qty]" value="{{qty}}" title="<?php echo $helper->__js('Qty') ?>"> <?php echo $helper->__js('and above') ?>'+
        '</td>'+
        '<td><input type="text" class="input-text required-entry validate-number" id="product_option_{{id}}_select_{{select_id}}_price_tier_{{tier_price_id}}_price" name="product[options][{{id}}][values][{{select_id}}][tiers][{{tier_price_id}}][price]" value="{{price}}"></td>'+
        '<td><?php echo $helper->jsEscape($this->getTierPriceTypeSelectHtml()) ?></td>'+
        '<td align="center"><button type="button" id="product_option_{{id}}_select_{{select_id}}_price_tier_{{tier_price_id}}_button" onclick="selectOptionType.removePriceRow(this)" class="delete icon-btn narrow-delete-button"><span><?php echo $helper->__js('Hide') ?></span></button></td>';
  
    OptionTemplateSelectImage = '<li class="image">'+
            '<a href="#" class="close" onclick="selectOptionType.removeImage(this); return false;"><big>x</big></a><br/>'+
            '<a href="{{big_img_url}}" rel="mageworxLightbox[]" title="" >'+
                '<img height="<?php echo $thumbnailsSize ?>" src="{{url}}" title="" class="small-image-preview v-middle" />'+
            '</a>'+
            '<input type="hidden" name="product[options][{{id}}][values][{{select_id}}][image_sort][]" value="{{option_type_image_id}}" />'+
        '</li>';
    
    OptionTemplateSelectColor = '<li class="image">'+
            '<a href="#" class="close" onclick="selectOptionType.removeImage(this); return false;"><big>x</big></a><br/>'+
            '<div onclick="selectOptionType.showColor(this);" class="small-image-preview v-middle" style="display:inline-block; width:35px; height:35px; background: {{image_file}}; margin-bottom:5px;">&nbsp;</div><br/>'+
            '<input class="input-color color {hash:true}" type="text" name="product[options][{{id}}][values][{{select_id}}][image_color][{{option_type_image_id}}]" value="{{image_file}}"  onmousedown="this.color.pickerOnfocus = false;" onclick="if (!$(this).hasClassName(\'selected\')) {$(this).select(); $(this).addClassName(\'selected\');} this.color.pickerOnfocus = true;" onchange="selectOptionType.changeColor(this)" />'+
            '<input type="hidden" name="product[options][{{id}}][values][{{select_id}}][image_sort][]" value="{{option_type_image_id}}" />'+
        '</li>';
    
    OptionTemplateSelectFile = '<tr class="file_option_rows_{{select_id}}">'+
            <?php if ($helper->isDependentEnabled()) { ?>'<td>&nbsp;</td>'+<?php } ?>
            '<td colspan="<?php if ($helper->isSpecialPriceEnabled() || $helper->isTierPriceEnabled()) echo '5'; else  echo '3'; ?>"><table style="border:none;">'+
                '<tr id="product_option_{{id}}_select_{{select_id}}_upload_{{count}}">'+
                    '<td style="border:none;">'+
                        '<label><input type="radio" name="product[options][{{id}}][values][{{select_id}}][upload_type][{{count}}]" value="file" onclick="selectOptionType.changeUploadType(this)" checked/> <?php echo $helper->__js('File') ?></label>&nbsp;&nbsp;&nbsp;'+
                        '<label><input type="radio" name="product[options][{{id}}][values][{{select_id}}][upload_type][{{count}}]" value="color" onclick="selectOptionType.changeUploadType(this)" /> <?php echo $helper->__js('Color') ?></label>&nbsp;&nbsp;&nbsp;'+
                        //'<label><input type="radio" name="product[options][{{id}}][values][{{select_id}}][upload_type][{{count}}]" value="gallery" onclick="selectOptionType.changeUploadType(this)" /> <?php echo $helper->__js('Gallery') ?></label>'+
                    '</td>'+
                    '<td style="border:none; vertical-align:middle;" rowspan="2" align="right"><button type="button" onclick="selectOptionType.removeFileRow(this)" class="delete icon-btn narrow-delete-button"><span><?php echo $helper->__js('Hide') ?></span></button></td>'+
                '</tr>'+
                '<tr>'+
                    '<td style="border:none;">'+
                        '<span><input class="input-file" type="file" name="file_{{id}}_{{select_id}}_{{count}}" id="product_option_{{id}}_select_{{select_id}}_upload_{{count}}_file" value="" /></span>'+
                        '<span style="display:none;">'+
                            '<?php echo $helper->__js('Color') ?>: '+
                            '<input class="input-color color {hash:true}" type="text" name="product[options][{{id}}][values][{{select_id}}][upload_color][{{count}}]" id="product_option_{{id}}_select_{{select_id}}_upload_{{count}}_color" value="#" onmousedown="this.color.pickerOnfocus = false;" onclick="this.color.pickerOnfocus = true;" onchange="selectOptionType.changeUploadColor(this)" disabled /> &nbsp; '+
                            '<div onclick="selectOptionType.showColor(this);" style="display:inline-block; width:18px; height:18px; border: 1px solid black;">&nbsp;</div>'+
                        '</span>'+
                        '<span style="display:none;"><?php echo $helper->__js('Gallery') ?>: <input class="input-text" type="text" name="product[options][{{id}}][values][{{select_id}}][upload_gallery][{{count}}]" id="product_option_{{id}}_select_{{select_id}}_upload_{{count}}_gallery" value="" disabled /></span>'+
                    '</td>'+
                '</tr>'+
            '</table></td>'+
        '</tr>';

    function PHP_Unserialize_(input) {
        input = input.toString();
        var length = 0;
        switch (input.charAt(0)) {
            case 'a':
                length = PHP_Unserialize_GetLength(input);
                input  = input.substr(String(length).length + 4);

                var arr   = new Array();
                var key   = null;
                var value = null;

                for (var i=0; i<length; ++i) {
                    key   = PHP_Unserialize_(input);
                    input = key[1];

                    value = PHP_Unserialize_(input);
                    input = value[1];

                    arr[key[0]] = value[0];
                }

                input = input.substr(1);
                return [arr, input];
                break;

            case 's':
                length = PHP_Unserialize_GetLength(input);
                return [String(input.substr(String(length).length + 4, length)), input.substr(String(length).length + 6 + length)];
                break;

            case 'i':
            case 'd':
                var num = Number(input.substring(2, input.indexOf(';')));
                return [num, input.substr(String(num).length + 3)];
                break;

            case 'b':
                var bool = (input.substr(2, 1) == 1);
                return [bool, input.substr(4)];
                break;

            case 'N':
                return [null, input.substr(2)];
                break;

            case 'o':
            case 'O':
            case 'r':
            case 'C':
            case 'R':
            case 'U':
                alert('Error: Unsupported PHP data type found!');
            default:
                return [null, null];
                break;
        }
    }
    function PHP_Unserialize_GetLength(input) {
        input = input.substring(2);
        var length = Number(input.substr(0, input.indexOf(':')));
        return length;
    }
    selectOptionType = {
        div: 'select_option_type_row',        
        maxItemId: 0,
        templateSyntax : /(^|.|\r|\n)({{(\w+)}})/,
        templateText : OptionTemplateSelectRow,
        add: function(data) {
            if (typeof phpSettings!='undefined' && phpSettings.max_input_vars_left < 50) {
                alert('<?php echo $helper->__js('Max Input Vars is Reached!') ?>');
                return '';
            }
            
            this.template = new Template(this.templateText, this.templateSyntax);
            if (data.target || data.srcElement) { //data is Event
                // add new option row default
                element = $(Event.findElement(data, 'button'));
                optionId = element.readAttribute('id').sub('add_select_row_button_', '');
                data = {};
                data.option_type_id = '-1';
                data.select_id = this.maxItemId = this.maxItemId + 1;
                data.image_tr_style = 'display:none';
                data.option_id = optionId;
            } else {
                optionId = data.option_id;
                if (!data.select_id) data.select_id = data.option_type_id;
                if (parseInt(data.select_id)>this.maxItemId) this.maxItemId = parseInt(data.select_id);
            }                        
            
            if(!data.in_group_id || data.in_group_id==0 || (data.in_group_id%65535 > 65000) || (data.in_group_id%65535==0)) {                    
                data.in_group_id = data.in_group_id_view = maxInGroupId = maxInGroupId + 1;
            } else {
                if (data.in_group_id<65536 && parseInt(data.in_group_id)>maxInGroupId) maxInGroupId = parseInt(data.in_group_id);
            }            
            
            var inputType = $("product_option_" + optionId + "_type");
            if (!data.default_type) {
                switch (inputType.value) {
                    case 'drop_down':
                    case 'radio':
                    case 'swatch':    
                        data.default_type = 'radio';
                        break;
                    case 'checkbox':
                    case 'multiple':
                    case 'multiswatch':
                    case 'hidden':
                        data.default_type = 'checkbox';
                        break;
                }
            }            
            if (inputType.value=='hidden') data.checked = 'checked';
            
            data.id  = optionId;
            if (!data.image_button_label) data.image_button_label = '<?php echo $helper->__js('Add Image') ?>';
            
            Element.insert($(this.div+'_'+data.id), {'bottom':this.template.evaluate(data)});

                       

            if (data.price_type) {
                $A($('product_option_'+data.id+'_select_'+data.select_id+'_price_type').options).each(function(option){
                    if (option.value==data.price_type) option.selected = true;
                });
            }

            var group = this.getOptionTypeGroup(data);
            productOptionType.deleteExtraPriceTypeOptions(data, group);
            
            <?php if ($helper->isSpecialPriceEnabled()) { ?>
            if (data.specials) {
                for(var key in data.specials) {
                    if (!data.specials.hasOwnProperty(key)) continue;
                    var specialPriceId = data.specials[key].option_type_special_price_id;
                    if (!specialPriceId) specialPriceId = data.specials[key].special_price_id;
                    var customerGroupId = data.specials[key].customer_group_id;
                    if (typeof customerGroupId==='undefined') customerGroupId = 32000;
                    this.addSpecialPriceRow(data.id, data.select_id, specialPriceId, customerGroupId, data.specials[key].price, data.specials[key].price_type, data.specials[key].comment, data.specials[key].date_from, data.specials[key].date_to);
                }
            }
            <?php } ?>
            
            <?php if ($helper->isTierPriceEnabled()) { ?>
            if (data.tiers) {
                for(var key in data.tiers) {
                    if (!data.tiers.hasOwnProperty(key)) continue;
                    var tierPriceId = data.tiers[key].option_type_tier_price_id;
                    if (!tierPriceId) tierPriceId = data.tiers[key].tier_price_id;
                    var customerGroupId = data.tiers[key].customer_group_id;
                    if (typeof customerGroupId==='undefined') customerGroupId = 32000;
                    this.addTierPriceRow(data.id, data.select_id, tierPriceId, data.tiers[key].qty, customerGroupId, data.tiers[key].price, data.tiers[key].price_type);
                }
            }
            <?php } ?>
            
            if (data.images) {
                this.addImages(data.id, data.select_id, data.images);
            }
            
            
            if (data.checkboxScopeTitle) {
                //set disabled
                if ($('product_option_'+data.id+'_select_'+data.select_id+'_title') && data.scopeTitleDisabled) {
                    $('product_option_'+data.id+'_select_'+data.select_id+'_title').disable();
                }
            }
            
            if (data.checkboxScopeDescription) {
                //set disabled
                if ($('product_option_'+data.id+'_select_'+data.select_id+'_description') && data.scopeDescriptionDisabled) {
                    $('product_option_'+data.id+'_select_'+data.select_id+'_description').disable();
                }
            }
            
            
            if (data.checkboxScopePrice || data.price_disabled) {
                //set disabled
                if ($('product_option_'+data.id+'_select_'+data.select_id+'_price') && (data.scopePriceDisabled || data.price_disabled)) {                    
                    $('product_option_'+data.id+'_select_'+data.select_id+'_price').disable();
                    $$('input[id^="product_option_'+data.id+'_select_'+data.select_id+'_price_"]', 'select[id^="product_option_'+data.id+'_select_'+data.select_id+'_price_"]', 'button[id^="product_option_'+data.id+'_select_'+data.select_id+'_price_"]').each(function(el) {
                        if (el.id.indexOf('_use_default')==-1) {
                            if (el.id.indexOf('_real')!=-1) el.value = '-1'; // real_id
                            el.disabled = true;                            
                        }
                    });                                        
                }
            }
            this.bindRemoveButtons();
            if (typeof phpSettings!='undefined') phpSettings.checkMaxInputVars();
        },
        getOptionTypeGroup: function(data) {
            var group = 'select';
            switch(data.type){
                case 'field':
                    group = 'text';
                    break;
                case 'area':
                    group = 'area';
                    break;
                case 'file':
                    group = 'file';
                    break;
                case 'drop_down':
                case 'radio':
                case 'checkbox':
                case 'multiple':
                case 'swatch':
                case 'multiswatch':
                case 'hidden':
                    group = 'select';
                    break;
                case 'date':
                case 'date_time':
                case 'time':
                    group = 'date';
                    break;
            }
            return group;
        },
        enableQtyAndPrice: function(optionId, selectId) {
            if ($('product_option_'+optionId+'_select_'+selectId+'_customoptions_qty')) $('product_option_'+optionId+'_select_'+selectId+'_customoptions_qty').disabled = false;
            if ($('product_option_'+optionId+'_select_'+selectId+'_price')) {
                $('product_option_'+optionId+'_select_'+selectId+'_price').enable();
                $$('input[id^="product_option_'+optionId+'_select_'+selectId+'_price_"]', 'select[id^="product_option_'+optionId+'_select_'+selectId+'_price_"]', 'button[id^="product_option_'+optionId+'_select_'+selectId+'_price_"]').each(function(el) {
                    if (el.id.indexOf('_use_default')==-1) {
                        if (el.id.indexOf('_real')!=-1) el.value = '-1'; // real_id
                        el.disabled = false;                            
                    }
                });                                        
            }
            if ($('product_option_'+optionId+'_select_'+selectId+'_cost')) $('product_option_'+optionId+'_select_'+selectId+'_cost').disabled = false;
            if ($('product_option_'+optionId+'_select_'+selectId+'_weight')) $('product_option_'+optionId+'_select_'+selectId+'_weight').disabled = false;
        },
        remove: function(event){
            var element = $(Event.findElement(event, 'tr'));
            if(element){
                $(element.readAttribute('id')+'_is_delete').value = '1';
                $(element).addClassName('no-display');
                $(element).addClassName('ignore-validate');
                element.hide();
                
                // remove image
                var ids = element.readAttribute('id').split('_');
                selectId = ids[ids.length-1];
                $('image_option_row_'+selectId).remove();
                $$('tr.file_option_rows_'+selectId).each(function(elTr){
                    elTr.remove();
                });
                
                // remove price rows
                if ($('special_price_row_'+selectId)) $('special_price_row_'+selectId).remove();
                if ($('tier_price_row_'+selectId)) $('tier_price_row_'+selectId).remove();
                $$('tr[id^="'+element.readAttribute('id')+'_"]').each(function(elTr){
                    elTr.remove();
                });
                
                // remove from children id                
                productChildrenOptions.removeChildrenElement(element);                
            }
        },
        bindRemoveButtons: function() {
            var buttons = $$('.delete-select-row');
            for(var i=0;i<buttons.length;i++){
                if(!$(buttons[i]).binded){
                    $(buttons[i]).binded = true;
                    Event.observe(buttons[i], 'click', this.remove.bind(this));
                }
            }
        },
        bindAddButton: function() {
            var buttons = $$('.add-select-row');
            for(var i=0;i<buttons.length;i++){
                if(!$(buttons[i]).binded){
                    $(buttons[i]).binded = true;
                    Event.observe(buttons[i], 'click', this.add.bind(this));
                }
            }
        },
        
        addFileRow: function(optionId, selectId) {
            var fileCount = 1;
            //alert($$('input[name="file_'+optionId+'_'+selectId+'_'+fileCount+'"]').length);
            while ($$('input[name="file_'+optionId+'_'+selectId+'_'+fileCount+'"]').length!=0) {
                fileCount++;
            }
            var template = new Template(OptionTemplateSelectFile, this.templateSyntax);
            Element.insert($$('#select_option_type_row_'+optionId +' #image_option_row_'+selectId, 'tr.file_option_rows_'+selectId).last(), {'after':template.evaluate({'id':optionId, 'select_id':selectId, count:fileCount})});
        },
        removeFileRow: function(obj) {
            obj.up('table').up('tr').remove();
        },
        
        maxSpecialPriceId: 0,
        addSpecialPriceRow: function(optionId, selectId, specialPriceId, customerGroupId, price, priceType, comment, dateFrom, dateTo) {
            // prepare data
            var data = {};
            data.id = optionId;
            data.select_id = selectId;            
            if (specialPriceId>0) {
                data.special_price_id = specialPriceId;
                data.special_price_real_id = specialPriceId;
                if (parseInt(specialPriceId)>this.maxSpecialPriceId) this.maxSpecialPriceId = parseInt(specialPriceId);
            } else {    
                data.special_price_id = this.maxSpecialPriceId = this.maxSpecialPriceId + 1;
                data.special_price_real_id = -1;
            }
            
            data.comment = comment;
            data.price = price;
            data.date_from = dateFrom;
            data.date_to = dateTo;

            $('special_price_row_'+selectId).show();
            
            // select last el            
            var elTrs = $$('tr[id^="product_option_'+optionId+'_select_'+selectId+'_price_special_"]');            
            if (elTrs.length>0) {
                var lastElTr = elTrs.last();
            } else {
                var lastElTr = $('special_price_row_'+selectId);
            }
            var template = new Template(OptionTemplateSelectSpecialPriceRow, this.templateSyntax);
            // insert special price row after last el
            Element.insert(lastElTr, {'after':template.evaluate(data)});
            
            if (priceType) {                
                $A($('product_option_'+data.id+'_select_'+data.select_id+'_price_special_'+data.special_price_id+'_price_type').options).each(function(option){
                    if (option.value==priceType) option.selected = true;
                });
            }
            
            if (customerGroupId < 32000) {
                $A($('product_option_'+data.id+'_select_'+data.select_id+'_price_special_'+data.special_price_id+'_customer_group').options).each(function(option){
                    if (option.value==customerGroupId) option.selected = true;
                });           
            }
            <?php if ($helper->isSpecialPriceDateEnabled()) { ?>
            Calendar.setup({
                inputField : 'product_option_'+optionId+'_select_'+selectId+'_price_special_'+data.special_price_id+'_date_from',
                button: 'product_option_'+optionId+'_select_'+selectId+'_price_special_'+data.special_price_id+'_date_from_trig',
                ifFormat : '<?php echo $this->getDateFormat(); ?>',
                align : false,
                singleClick : true
            });
            Calendar.setup({
                inputField : 'product_option_'+optionId+'_select_'+selectId+'_price_special_'+data.special_price_id+'_date_to',
                button: 'product_option_'+optionId+'_select_'+selectId+'_price_special_'+data.special_price_id+'_date_to_trig',
                ifFormat : '<?php echo $this->getDateFormat(); ?>',
                align : false,
                singleClick : true
            });
            <?php } ?>
        },
        
        maxTierPriceId: 0,
        addTierPriceRow: function(optionId, selectId, tierPriceId, qty, customerGroupId, price, priceType) {
            // prepare data
            var data = {};
            data.id = optionId;
            data.select_id = selectId;            
            if (tierPriceId>0) {
                data.tier_price_id = tierPriceId;
                data.tier_price_real_id = tierPriceId;
                if (parseInt(tierPriceId)>this.maxTierPriceId) this.maxTierPriceId = parseInt(tierPriceId);
            } else {    
                data.tier_price_id = this.maxTierPriceId = this.maxTierPriceId + 1;
                data.tier_price_real_id = -1;
            }
            
            data.qty = qty;
            data.price = price;
            
            $('tier_price_row_'+selectId).show();            
            
            // select last el            
            var elTrs = $$('tr[id^="product_option_'+optionId+'_select_'+selectId+'_price_tier_"]');            
            if (elTrs.length>0) {
                var lastElTr = elTrs.last();
            } else {
                var lastElTr = $('tier_price_row_'+selectId);
            }
            var template = new Template(OptionTemplateSelectTierPriceRow, this.templateSyntax);
            // insert tier price row after last el
            Element.insert(lastElTr, {'after':template.evaluate(data)});
            
            if (priceType) {                
                $A($('product_option_'+data.id+'_select_'+data.select_id+'_price_tier_'+data.tier_price_id+'_price_type').options).each(function(option){
                    if (option.value==priceType) option.selected = true;
                });
            }
            
            if (customerGroupId < 32000) {
                
                $A($('product_option_'+data.id+'_select_'+data.select_id+'_price_tier_'+data.tier_price_id+'_customer_group').options).each(function(option){
                    if (option.value==customerGroupId) option.selected = true;
                });           
            }
        },
        
        removePriceRow: function(el) {         
            var trEl = el.up('tr');
            if(trEl){
                $(trEl.readAttribute('id')+'_is_delete').value = '1';
                $(trEl).addClassName('no-display');
                $(trEl).addClassName('ignore-validate');
                trEl.hide();
                
                var hideHead = true;
                var trElIdBeg = trEl.readAttribute('id').split('_');
                trElIdBeg.pop();
                $$('tr[id^='+trElIdBeg.join('_')+']').each(function(trRow){
                    if (trRow.style.display!='none') hideHead = false;
                });
                if (hideHead) {
                    $(trElIdBeg[6]+'_'+trElIdBeg[5]+'_row_'+trElIdBeg[4]).hide();
                }
            }
	},
        
        addImages: function(optionId, selectId, images) {
            if (!images || images.length==0) return;
            
            var imgHtml = '';
            images.each(function(img) {
                if (img.source==1) { // file
                    var template = new Template(OptionTemplateSelectImage, this.templateSyntax);
                } else if (img.source==2) { //color
                    var template = new Template(OptionTemplateSelectColor, this.templateSyntax);
                } else {
                    var template = new Template('', this.templateSyntax);
                }
                imgHtml += template.evaluate(img);
                
            }.bind(this));
            
            imgHtml += '<input type="hidden" id="product_option_'+optionId+'_select_'+selectId+'_image_change" name="product[options]['+optionId+'][values]['+selectId+'][image_change]" value="0" />';
                        
            imgHtml = '<ul id="image_option_ul_'+selectId+'">' + imgHtml + '</ul>';
            $('image_option_td_'+selectId).innerHTML = imgHtml;
            
            if (images.length>1) {
                Sortable.create('image_option_ul_'+selectId, {
                    tag: 'li', overlap: 'horizontal', constraint: false,
                    onChange:function(element) {
                        var img = element.down('img');
                        if (img) $(img.up('a')).addClassName('disableLightbox');
                        var elImageSortChange = $('product_option_'+optionId+'_select_'+selectId+'_image_change');
                        if (elImageSortChange) {
                            elImageSortChange.value = 1;
                            elImageSortChange.setHasChanges(); 
                        }
                    }
                });
            }
        },
        removeImage: function(el) {
            var rmEl = el.next('a');
            if (rmEl) rmEl.remove();
            var rmEl = el.next('a');
            if (rmEl) rmEl.remove();
            var rmEl = el.next('div');
            if (rmEl) rmEl.remove();
            
            var hiddenEl = el.next('input');
            if (hiddenEl.type!='hidden') {
                hiddenEl.remove();
                var hiddenEl = el.next('input');
            }
            
            hiddenEl.name = hiddenEl.name.replace("image_sort", 'image_delete');
            
            var ids = hiddenEl.name.split('][');
            var elImageSortChange = $('product_option_'+ids[1]+'_select_'+ids[3]+'_image_change');
            if (elImageSortChange) {
                elImageSortChange.value = 1;
                elImageSortChange.setHasChanges(); 
            }
            el.remove();
        },
        changeUploadType: function(el) {
            var id = el.up('tr').id;
            var types = ['file', 'color', 'gallery'];
            types.each(function(type) {
                $(id + '_' + type).up('span').hide();
                $(id + '_' + type).disable();
            });
            
            $(id + '_' + el.value).up('span').show();
            $(id + '_' + el.value).enable();
            if (el.value=='color') jscolor.init();
        },
        showColor: function(el) {
            var colorEl = el.up().down('input.color');
            colorEl.color.showPicker();
            colorEl.focus();
        },        
        changeColor: function(el) {
            this.changeUploadColor(el, 1);
            var ids = el.name.split('][');
            var elImageSortChange = $('product_option_'+ids[1]+'_select_'+ids[3]+'_image_change');
            if (elImageSortChange) {
                elImageSortChange.value = 1;
                elImageSortChange.setHasChanges(); 
            }
        },
        changeUploadColor: function(el, up) {
            var color = el.value.replace('##', '#');
            if (color.indexOf('#')==-1) {
                color = '#' + color;
            }
            el.value = color;
            
            if (up) {
                el.previous('div').style.background = color;
            } else {
                el.next('div').style.background = color;
            }
        }
    };

    if ($('option_panel_type_select')) {
        $('option_panel_type_select').remove();
    }

    selectOptionType.bindRemoveButtons();

    Validation.addAllThese([
        ['required-option-select-type-rows', '<?php echo $helper->__js('Please add rows to option.') ?>', function(v, elm) {
                var optionContainerElm = elm.up('div.grid');
                var selectTypesFlag = false;
                selectTypeElements = $$('#'+optionContainerElm.id+' .select-type-title');
                selectTypeElements.each(function(elm){
                    if (elm.id && elm.up('tr').visible()) {
                        selectTypesFlag = true;
                    }
                });
                elm.advaiceContainer = optionContainerElm.id+'_advice';
                return selectTypesFlag;
            }]]);

    if($('add_select_row_button')){
        Event.observe('add_select_row_button', 'click', selectOptionType.add.bind(selectOptionType));
    }
    //]]>
</script>