/**HIDE LOREM IPSUM HOME*/


#home-categories .grid12-4 a .overflow-ellipsis, #home-categories .grid12-4 a > h3 {
	display: none;
}

/*========================================================================================================================*/



/** Arrow-Button Css **/
.arrow-button{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;position:relative;padding:5px;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row}.arrow-button canvas.hover{display:none}.arrow-button:hover canvas.hover{display:block}.arrow-button:hover canvas.no-hover{display:none}.arrow-button.drawn{background-color:transparent!important}.arrow-button canvas{position:absolute;top:0;left:0;z-index:-1}.arrow-left{-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.arrow-right{-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
/** END: Arrow-button Css **/

/**
 * Theme-specific styles
 */



/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
   Override/modify basic styles from styles.css %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.main { padding:20px 0 30px; }
.catalog-product-view .main { padding-top: 10px; padding-bottom: 30px; }

.main-top-container { border-bottom-width: 1px; border-bottom-style: solid; }
.cms-index-index .main-top-container { display: none; }
.main-top { line-height: 44px; min-height: 44px; /* The same height as breadcrumbs */ }

/* Global Styles %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Form Elements
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
input.input-text, select, textarea {
	border-color: #ccc;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07) inset;
}
input.input-text:hover, select:hover, textarea:hover { border-color:#999; color:#333; }
input.input-text:focus, select:focus, textarea:focus {
	border-color:#333 #777 #777;
	box-shadow:0 1px 3px rgba(0,0,0, 0.2) inset;
	outline:none;
}


/* Form
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Common styles for fieldsets and blocks in Multiple Addresses Checkout and Generic Info Set
-------------------------------------------------------------- */
.fieldset,
.multiple-checkout .col2-set,
.multiple-checkout .col3-set,
.info-set {
    margin:0 0 20px;
    padding:0 15px 15px;
}
.fieldset .legend,
.multiple-checkout .col2-set h2.legend,
.info-set h2.legend {
	margin:0 -15px 10px -15px;
	padding:0 15px;
}

/* Fieldset
-------------------------------------------------------------- */
.fieldset {
	border-style: solid;
	border-width: 15px;
	padding: 20px 25px;
}
.fieldset .legend {
	border: none;
	margin: 0 0 20px;
	padding: 0;
}

/* Buttons set
-------------------------------------------------------------- */
/* Note: buttons and "required" have equal right margin */
.buttons-set button.button { margin-left:0; margin-right:5px; margin-bottom:5px; }
.buttons-set p.required { margin:0 5px 5px 0; }


/* BreadCrumbs
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.breadcrumbs { line-height: 1.5em; padding: 13px 0; }


/* Page Heading
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.page-title h1,
.page-title h2 { line-height: 50px; }

.page-title .link-rss { margin-top: 32px; }


/* Toolbar
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.sorter { padding:5px 10px; }
.toolbar { border-bottom:none; border-top:none; }
.toolbar .pager { border-top:none; border-bottom:1px dashed #e5e5e5; }
.toolbar-bottom .toolbar .pager { border-top: 1px dashed #e5e5e5; border-bottom: none; }

.toolbar .pager .pages { float:right; }


/* Data Table
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.data-table tbody tr,
.data-table tbody tr.odd,
.data-table tbody tr.even { border-bottom: 1px solid #eee; }
.data-table tr.even { background-color: transparent; }

.data-table tr.odd td,
.data-table tr.odd th,
.data-table tr.even td
.data-table tr.even th { border-right:1px solid #eee; }
.data-table tr td.last { border-right:none; }



/* Header %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Quick search
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.header-top .form-search .input-text { box-shadow:none; }


/* Quick search: skins
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Search: inline
-------------------------------------------------------------- */
.search-wrapper-inline .form-search .input-text { min-width: 180px; }


/* User menu
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.header .user-menu { /* Added ".header" class to make the selector more specific */
	margin:10px 0 0px;
	vertical-align: bottom;
	/*position: absolute; bottom: 0; right: 0;*/
}
.user-menu-top {
	margin: 10px 0;
	text-align: right;
}


/* User menu: fortis style
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Basic styles (".um" - abbreviation of User Menu)
-------------------------------------------------------------- */
.um-fortis .top-links .links > li,
.um-fortis .dropdown {
	margin-top: 5px;
	margin-left: 5px;
}
.um-fortis .top-links .links > li > a,
.um-fortis .dropdown-toggle.cover > div {
	display: block;
	text-align: center;
	min-width: 48px;
	padding: 0 6px;
	height: 42px;
	line-height: 42px;
}
/* Individual styles for drop-down blocks */
.um-fortis .dropdown-toggle.cover > div {
	padding: 0 6px;
	height: 42px;
	line-height: 42px;
}


/* User menu: top links: icons
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.um-icons .top-links a .label { display: none; }

/* Size of link items */
.um-icons .top-links .links > li > a {
	/* Make items square*/
	min-width: inherit;
	padding: 0 3px;
}

/* NO icons */
.um-no-icons .top-links a .icon { display: none; }


/* User menu: top links: icons with labels
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.um-icons-label .top-links a { padding-right: 10px; }
.um-icons-label .top-links a .icon {
	margin-right: -5px;
	margin-left: -5px;
}


/* User menu: top links with icons
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.um-icons-label-top .top-links a .icon,
.um-icons-label-top .top-links a .label {
	display: block;
	margin: 0 auto; /* Important: override horizontal margin of the icons */
}
.um-icons-label-top .top-links a .label {
	font-size: 12px;
	height: 12px;
	line-height: 12px;
	padding-bottom: 10px;
}

/* Size of link items */
.um-icons-label-top .top-links .links > li > a {
	height: auto;
	line-height: 1em;
}

/* Drop-down blocks */
.um-icons-label-top .dropdown-toggle.cover > div {
	height: 58px;
	line-height: 58px; /* Icon height + label height: 36px + 22px */
}

/* User menu: transitions
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Links */
.um-fortis .top-links a {
	transition:			color 300ms ease-in-out, background-color 300ms ease-in-out;
	-moz-transition:	color 300ms ease-in-out, background-color 300ms ease-in-out;
	-webkit-transition:	color 300ms ease-in-out, background-color 300ms ease-in-out;
	-o-transition:		color 300ms ease-in-out, background-color 300ms ease-in-out;
}

/* Icons inside links */
.um-fortis .top-links a .icon {
	transition:			color 300ms ease-in-out, background-color 300ms ease-in-out, opacity 300ms ease-in-out;
	-moz-transition:	color 300ms ease-in-out, background-color 300ms ease-in-out, opacity 300ms ease-in-out;
	-webkit-transition:	color 300ms ease-in-out, background-color 300ms ease-in-out, opacity 300ms ease-in-out;
	-o-transition:		color 300ms ease-in-out, background-color 300ms ease-in-out, opacity 300ms ease-in-out;
}
.um-fortis.um-animate-icons .top-links a .icon {
	transition:			color 300ms ease-in-out, background-color 300ms ease-in-out, opacity 300ms ease-in-out, background-position 300ms ease-in-out;
	-moz-transition:	color 300ms ease-in-out, background-color 300ms ease-in-out, opacity 300ms ease-in-out, background-position 300ms ease-in-out;
	-webkit-transition:	color 300ms ease-in-out, background-color 300ms ease-in-out, opacity 300ms ease-in-out, background-position 300ms ease-in-out;
	-o-transition:		color 300ms ease-in-out, background-color 300ms ease-in-out, opacity 300ms ease-in-out, background-position 300ms ease-in-out;
}

/* Icons in drop-downs (delayed a little bit, but less than drop-down) */
.um-fortis .dropdown-toggle.cover .feature-icon-hover span.icon {
	transition:			color 300ms ease-in-out 100ms, background-color 300ms ease-in-out 100ms, opacity 300ms linear 100ms;
	-moz-transition:	color 300ms ease-in-out 100ms, background-color 300ms ease-in-out 100ms, opacity 300ms linear 100ms;
	-webkit-transition:	color 300ms ease-in-out 100ms, background-color 300ms ease-in-out 100ms, opacity 300ms linear 100ms;
	-o-transition:		color 300ms ease-in-out 100ms, background-color 300ms ease-in-out 100ms, opacity 300ms linear 100ms;
}
.um-fortis.um-animate-icons .dropdown-toggle.cover .feature-icon-hover span.icon {
	transition:			color 300ms ease-in-out 100ms, background-color 300ms ease-in-out 100ms, opacity 300ms linear 100ms, background-position 300ms ease-in-out 100ms;
	-moz-transition:	color 300ms ease-in-out 100ms, background-color 300ms ease-in-out 100ms, opacity 300ms linear 100ms, background-position 300ms ease-in-out 100ms;
	-webkit-transition:	color 300ms ease-in-out 100ms, background-color 300ms ease-in-out 100ms, opacity 300ms linear 100ms, background-position 300ms ease-in-out 100ms;
	-o-transition:		color 300ms ease-in-out 100ms, background-color 300ms ease-in-out 100ms, opacity 300ms linear 100ms, background-position 300ms ease-in-out 100ms;
}



/* Category view %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Remove negative top margin which (by default) covers bottom border of the category title */
.category-products { margin:10px 0; }



/* Product view elements %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Add-to links
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.products-grid .actions .add-to-links { padding-bottom: 10px; }

/* Add-to links: simple icons (with no text)
-------------------------------------------------------------- */
.products-grid .addto-links-icons {}

	/* If displayed in a group: add margin between icons */
	.products-grid .add-to-links.addto-links-icons a { margin:0; }

	.products-grid .addto-links-icons span.icon { border-radius: 0; }

	/* If displayed on product image */
	.products-grid .addto-links-icons.addto-onimage {
		float:right;
		position:relative;
		z-index:1;

		/* Override default styles */
		padding:0;
		margin-top:-36px; /* Move up */
		height:36px;
		line-height:36px;
	}


/* Add to Cart box
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.product-view .paypal-wrapper { clear: both; float: right; }


/* Messages
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
#messages_product_view .messages { margin-bottom: 0; }


/* Other
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Add to cart button */
.product-view .btn-cart span span { padding:2px 40px; }



/* Product page %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/*.product-view .box-additional { margin-top:30px; }*/ /*TODO:check*/

/* Product page top with outline
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.pv-top-outline .product-view-form {
	display: block;
	
}
.pv-top-outline .product-top-wrapper  {
	box-shadow: 3px -2px 3px rgba(0,0,0, 0.08); /*Top*/
	margin:0 2px 0 0; /* Right margin to visually align the edge with other elements */
}
.pv-top-outline .product-top-wrapper2 {
	box-shadow: 2px 3px 2px rgba(0,0,0, 0.1); /*Bottom right*/
}

/* Cover the outline */
.pv-top-outline .product-top-wrapper-cover-top {
	/*background: linear-gradient(to right, #fff 50%, rgba(255,255,255, 0));*/
	height: 10px;
	position: relative;
	z-index: 1;
background: -moz-linear-gradient(left, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}
.pv-top-outline .product-top-wrapper-cover-bottom {
	/*background: linear-gradient(to right, #fff, rgba(255,255,255, 0));*/
	height: 10px;
	position: relative;
	z-index: 1;
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}


/* Product main column
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.product-view .product-shop { padding-top: 20px; }
.product-view .product-shop .product-name h1 { font-size:2em; /*28px*/  }

/* Increase the space */
/*.product-view .product-shop > * { padding-left: 0%; padding-right: 0%; }*/


/* Product Secondary Column
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.product-secondary-column .inner {
	padding-top: 20px;
	padding-left: 18px;
	padding-right: 12px;
}

.product-view .product_secondary_top_placeholder {
	min-height: auto;
	padding: 20px 0 1px 6px; /* Top and bottom padding to avoid collapsing margins */
}
.product-view .block_product_secondary_bottom {}

/* Product primary column's elements
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Add-to links in different places of the product page */
/*.product-view .add-to-links li { margin-right: 10px; }*/ /*TODO:check*/


/* Prices
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Price box inside "Add-to-cart" box or inside product options box */
.product-view .add-to-box .price-box,
.product-options-bottom .price-box { float:left; margin:14px 15px 10px 0; padding:0; }
/* If special price - pull up the old price. TODO: add class indicating special price. */
.product-view .add-to-box .price-box .old-price,
.product-options-bottom .price-box .old-price { margin-top:-10px; }

/* Bundle product */
.price-box-bundle { margin: 0 0 10px; }

/* Hide default price box
-------------------------------------------------------------- */
.product-view .product-type-data .price-box { display:none; clear:both; }

	/* Don't hide for selected types and cases */
	.product-view .product-type-data.is-type-grouped .price-box,
	.product-view .product-type-data.is-type-bundle .price-box,
	.product-view .product-type-data.is-out-of-stock .price-box /* Is out of stock */
	{ display:block; }

/* Special price */
.product-view  .price-box .special-price .price-label { display: none; font-size: inherit; }


/* Main containers
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Main containers - overrides
-------------------------------------------------------------- */
/* Elements with light gray background */
/*.product-view .product-type-data,*/
.product-view .container1-wrapper,
.product-view .container2-wrapper,
.product-view .add-to-box,
.product-view .extrahint-wrapper .product-pricing, /* Increaments */
.product-view .tier-prices
{
	padding: 15px;
}

/* Lower part of the main containers */
.product-view .container1-wrapper,
.product-view .container2-wrapper,
.product-view .add-to-box { border: none;}

/* Normalize gap before main containers in primary column */
.product-view .container1-wrapper,
.product-view .add-to-box,
.product-view .tier-prices { margin-top:10px; }

/* Bundle product */
.price-box-bundle {
	border: none;
	margin: 0 0 15px;
	padding: 0;
}

/* Product type specific data
-------------------------------------------------------------- */
/* Container */
.product-view .product-type-data {
	border-top-style:solid;
	border-top-width:1px;
	margin:15px 0 0;
	padding:10px 0 0;
}

/* Availability */
.availability { float: left; line-height: 36px; margin: 0 10px 0 0; }
.availability-only { float: right; margin: 0 0 0 10px; }
.availability-only-details { clear: both; }


/* Misc
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Product options */
.product-options p.required { position:absolute; right:0; top:0px; }

/* New elements
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.product-view .sku { margin: 15px 0; }
.product-view .sku .label { font-weight: bold; }



/* Shopping Cart %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Shopping Cart Table
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.cart fieldset {
	padding: 20px;
}
.cart-table-wrapper {
	padding:10px;
	background-color: #fff;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

/* Table bottom - buttons
-------------------------------------------------------------- */
.cart-table tfoot tr.last { border-bottom:none !important; }
.cart-table tfoot td.last { padding:15px 10px 0; border-bottom:none; }


/* Cart Collateral blocks
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.cart-collaterals { margin-top: 0; }
.cart .cart-left-column { margin-top: 2%; } /* Space below product table */
.cart .cart-right-column {}


/* Common styles: Cross-sell, Discount Codes, Estimate Shipping
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.cart .discount > *,
.cart .shipping > * { padding-left: 10px; padding-right: 10px; }
.cart .crosssell h2,
.cart .discount h2,
.cart .shipping h2 { font-size: 1.1666em; }



/* My Account %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* General Box */
.box-account {
	margin:0 0 10px;
	padding: 15px;
	border-style: solid;
	border-width: 15px;
}



/* Footer %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Footer top
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.footer-top-container { border-top-width: 1px; border-top-style: solid; }

.footer-top2 { padding-top: 20px; padding-bottom: 17px; }


/* Footer primary
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.footer-primary .section { padding-top: 20px; padding-bottom: 20px; }


/* Form Elements
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.footer input.input-text, .footer select, .footer textarea {
	background-color: rgba(255,255,255, 0.25);
	border-color: transparent;
	color: inherit;
	box-shadow: none;
}
.footer input.input-text:hover, .footer select:hover, .footer textarea:hover,
.footer input.input-text:focus, .footer select:focus, .footer textarea:focus {
	background-color: rgba(255,255,255, 0.35);
}

/* Deprecated: newsletter form styles */
/*#subscribe-form .input-text {
	background-color: rgba(255,255,255, 0.3);
	border-color: transparent;
	color: inherit;
}*/





/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
   Misc %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Interface icons %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Icons with no background
-------------------------------------------------------------- */
/* Toolbar */
.sorter .view-mode a,
.sorter .sort-by .category-asc,
.sorter .sort-by .category-desc,
.pager .pages li a,

/* Add-to links */
.add-to-links.addto-icons a,

/* Slider arrows */
.slider-arrows3 .owl-controls .owl-buttons div,
.slider-arrows3 .owl-controls.clickable .owl-buttons div.disabled:hover,

	/* Deprecated: */
	.gen-slider-arrows3 .direction-nav a,
	.gen-slider-arrows3 .direction-nav a.disabled:hover
{
	background-color:transparent;
}

/* Other icons
-------------------------------------------------------------- */
/* Add-to links */
.addto-links-icons span.icon,
.add-to-links.addto-icons a, /* Obsolete */

/* Slideshow directional arrows */
.gen-slider-arrows2 .direction-nav a,
.gen-slider-arrows2 .direction-nav a.disabled:hover { background-color:#fff; }



/* Accordion & Collapsible %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Accordion - Style 1
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.accordion-style1 li a {
	border-bottom:1px solid transparent;
}
.accordion-style1 li a:hover {
	background-color:rgba(0,0,0, 0.03);
}
.accordion-style1 li.parent.active > a { /* Active, but only if parent */
	background-color:rgba(0,0,0, 0.03);
}

/* Opener
-------------------------------------------------------------- */
.accordion-style1 .opener {
	background-color:rgba(0,0,0, 0.03);
}



/* Other modifications %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.product-view .box-reviews .form-add h2 { text-transform:none; }





/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
   Built-in static blocks %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Deprecated: Header top - help block */
.header-top .phone { background:url(../images/img/ic-phone.png) 0 center no-repeat; padding:0 0 0 24px; }

.block_category_above_collection { margin:10px 0; }
.block_category_below_collection { margin:10px 0; }
.block_category_above_empty_collection { margin:10px 0; }

/*.block_product_primary_bottom {}
.block_product_secondary_bottom {}
.block_product_replace_related {}
.block_product_replace_upsell {}

.block_cart_below_totals {}
.block_cart_below_table {}*/

.block_mini_cart_above_products { margin:0 0 10px; }

.block_opc_below_progress { margin:15px 0; }

.block_cms_page_top { margin:0 0 15px; }

/*.block_header_top_left {}
.block_header_top_left2 {}
.block_header_top_right {}
.block_header_top_right2 {}

.block_footer_primary_bottom_left {}
.block_footer_primary_bottom_right {}*/
.block_footer_payment {margin-right:10px;margin-bottom:10px;margin-left:20px;position: absolute;left: 50%;-webkit-transform: translateX(-50%);-ms-transform: translateX(-50%);transform: translateX(-50%);}
.footer-bottom { height: 48px; }
/* Sample block content
-------------------------------------------------------------- */
.sample-block { border:1px dashed #e5e5e5; color:#777; margin-top:10px; padding:7px !important; }
.sample-block:hover { color:#000; border-color: transparent; background-color: #fafafa; }





/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
   High-resolution-ready (retina-ready) %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (   min--moz-device-pixel-ratio: 1.5),
only screen and (     -o-min-device-pixel-ratio: 3/2),
only screen and (    -ms-min-device-pixel-ratio: 1.5),
only screen and (        min-device-pixel-ratio: 1.5)
{

	/* Rating */
	.rating-box,
	.rating-box .rating { background-image:url(../images/img/rating@2x.png); background-size:14px 43px; }

	/* Theme icons
	-------------------------------------------------------------- */
	/* To top */
	#scroll-to-top,

	/* Search button */
	.header .form-search .button span,

	/* All icons from icons-theme.css */
	/* Row 1: */
	.icon.i-wishlist,
	.icon.i-wishlist-w,
	.icon.i-wishlist-bw,
	.icon.i-wishlist-wb,

	.icon.i-compare,
	.icon.i-compare-w,
	.icon.i-compare-bw,
	.icon.i-compare-wb,

	.icon.i-recommend,
	.icon.i-recommend-w,
	.icon.i-recommend-bw,
	.icon.i-recommend-wb,

	.icon.i-lowstock,
	.icon.i-lowstock-w,
	.icon.i-lowstock-bw,
	.icon.i-lowstock-wb,

	.icon.i-cart,
	.icon.i-cart-w,
	.icon.i-cart-bw,
	.icon.i-cart-wb,

	/* Row 2: */
	.icon.i-home,
	.icon.i-home-w,
	.icon.i-home-bw,
	.icon.i-home-wb,

	.icon.i-left,
	.icon.i-left-w,
	.icon.i-left-bw,
	.icon.i-left-wb,

	.icon.i-right,
	.icon.i-right-w,
	.icon.i-right-bw,
	.icon.i-right-wb,

	.icon.i-top,
	.icon.i-top-w,
	.icon.i-top-bw,
	.icon.i-top-wb,

	.icon.i-bottom,
	.icon.i-bottom-w,
	.icon.i-bottom-bw,
	.icon.i-bottom-wb /* Last selector without trailing coma */

	{ background-image:url(../images/sprite@2x.png); background-size:500px 200px; }


	/* All icons from icons-social.css
	-------------------------------------------------------------- */
	/* Row 1: */
	.icon.i-telephone,
	.icon.i-telephone-w,

	.icon.i-mobile,
	.icon.i-mobile-w,

	.icon.i-skype,
	.icon.i-skype-w,

	.icon.i-letter,
	.icon.i-letter-w,

	.icon.i-location,
	.icon.i-location-w,

	/* Row 2: */
	.icon.i-twitter,
	.icon.i-twitter-w,

	.icon.i-facebook,
	.icon.i-facebook-w,

	.icon.i-googleplus,
	.icon.i-googleplus-w,

	.icon.i-youtube,
	.icon.i-youtube-w,

	.icon.i-vimeo,
	.icon.i-vimeo-w,

	.icon.i-wordpress,
	.icon.i-wordpress-w,

	.icon.i-pinterest,
	.icon.i-pinterest-w,

	.icon.i-linkedin,
	.icon.i-linkedin-w,

	.icon.i-blogger,
	.icon.i-blogger-w,

	.icon.i-envato,
	.icon.i-envato-w /* Last selector without trailing coma */

	{ background-image:url(../images/sprite-icons-social@2x.png); background-size:500px 200px; }

} /* end: media query */


/* changes pascal */

.header .logo strong { color: #fff; padding-left: 13px; top: auto; left: auto; width: auto; font-size: 30px; text-indent: 0px; overflow: visible; line-height: 44px; }

.header-container { background: #0091E4; }
.nav-container { background-color: #25A3EC; }
.header-container2 { background-image: none !important; }
.header-top-container { background: #f60; }
.form-search .input-text, .form-search .input-text:hover, .form-search .input-text:focus { background: #EEEEEE; }
.welcome-msg { display: none; }
.header a:hover { color: #1C960D; }

.um-fortis .top-links .links > li > a { color: #ffffff; }
.um-fortis .top-links .links > li > a .icon { opacity: 1; }
.um-fortis .top-links .links > li > a, .feature-icon-hover { background-color: transparent; }
.header-container .feature-icon-hover { color: #fff; }
a.summary .price { color: #0A6CA5; }


/* homepagina */
.col-main { background: none !important; }
span.icon { background-color: #3EC2DF; }
.sorter .view-mode a:hover, .sorter .sort-by .category-asc:hover, .sorter .sort-by .category-desc:hover, .pager .pages li a:hover, .buttons-set .back-link:hover small, .add-to-links.addto-icons a:hover, .add-to-links span.icon-hover:hover, .add-to-links .feature-icon-hover:hover span.icon, .slider-arrows1 .owl-controls.clickable .owl-buttons div:hover, .slider-arrows2 .owl-controls.clickable .owl-buttons div:hover, .slider-arrows3 .owl-controls.clickable .owl-buttons div:hover, .gen-slider-arrows1 .direction-nav a:hover, .gen-slider-arrows2 .direction-nav a:hover, .gen-slider-arrows3 .direction-nav a:hover, .slider-pagination1 .owl-controls.clickable .owl-page:hover span, .slider-pagination2 .owl-controls.clickable .owl-page:hover span, #cboxPrevious:hover, #cboxNext:hover, #cboxClose:hover, .accordion-style1 .opener:hover, .collapsible .opener:hover, #scroll-to-top:hover { background-color: #b6e3f1 !important; }

.product-view .btn-cart span, button.button.btn-checkout span, .cart .btn-cart span { background-color: #FF6600; }
li.level0 > a > span > .cat-label-label2.pin-bottom:before {  border-top-color: #FF6600; }
.cat-label-label2 { background-color: #FF6600; }
.header-container3, .footer-container2 { background: none !important; }
.sticker.new { background-color: #FF6600; }
.nav-regular .nav-item.level0.parent:hover > a, .nav-mobile .nav-item.level0.parent > a:hover { color: #0090E3; }
#nav .nav-item.level0.parent:hover > a .caret { border-top-color: #097EC1; }

.sticker.sale { background-color: #3EC2DF; }

.footer-container { background-color: #00649E; background-image: none !important; }





.sticker-wrapper.top-left {
	right: -3px;
	top: 5px;
	left: auto;
}

.sticker-wrapper.top-right {
	top: 5px;
}

.sticker-wrapper.top-left + .sticker-wrapper.top-right {
	top: 40px;
}

.sticker {
	width: auto !important;
	border-radius: 0;
	height: auto !important;
	padding: 5px 20px 5px 0px
}

.sticker::before {
	display: block;
	width: 20px;
	height: 100%;
	content: "";
	position: absolute;
	left: -20px;
	top:0px;
	border-radius: 50% 0 0 50%;
}

.sticker.new::before, .sticker.new {
	background-color: #25A3EC;
}

.sticker.sale::before, .sticker.sale {
	background-color: #f60;
}

.product-view .btn-cart:hover span, button.btn-checkout:hover span {
	background-color: #0091E4;
}

.checkbox-no, .checkbox-yes {
	border: 1px solid #555;
}

.checkbox-no {
	color: #f00;
}

.checkbox-yes {
	color: #009600;
}

#product-attribute-specs-table .checkbox-no::before, #product-attribute-specs-table .checkbox-yes::before {
	font-size: 1.5em;
	position: absolute;
}

#product-attribute-specs-table .checkbox-yes::before {
	left: 0;
	top: -.3em;
}

#product-attribute-specs-table .checkbox-no::before {
	left: -.15em;
	top: -.15em;
}

#product-attribute-specs-table .checkbox-yes, #product-attribute-specs-table .checkbox-no {
	width: 1em;
	height: 1em;
}

.product-top-wrapper-cover-top, .product-top-wrapper-cover-bottom {
	display: none;
}

.pv-top-outline .product-top-wrapper, .pv-top-outline .product-top-wrapper2 {
	box-shadow: none;
	border-radius: 0;
}

#cboxOverlay {
	background-image: none !important;
	background-color: #000 !important;
}

.footer-primary, .footer-top-container {
	background-color: #25A3EC;
}

.footer-container {
	background-color: #0091e4;
}

div.footer-top a, div.footer, div.footer a {
	color: #fff;
}

div.footer a:link, div.footer-top a:link {
	color: #eee;
}

div.footer-top a:hover, div.footer-top a:active, div.footer-top a:visited, div.footer a:hover, div.footer a:active, div.footer a:visited {
	color: #003C54;
}

#newsletter {
	border-radius: 3px 0 0 3px;
}

.footer .input-box {
	margin-right: 0 !important;
}

.footer .button span {
	border-radius: 0 3px 3px 0;
}

#colorbox #cboxNext {
	position: absolute;
	top: 50%;
	right: 20px;
	left: auto;
}

#colorbox #cboxPrevious {
	position: absolute;
	top: 50%;
	left: 20px;
}

#cboxCurrent {
	display: none !important;
}

#cboxClose {
	top: 10px;
	bottom: auto;
}

.product-view .add-to-box {
	padding: 0 !important;
	border-radius: 3px;
	background-color: #25A3EC;
	height: 42px;
	float: right;
}

.price-box .price {
	color: #fff;
}

.itemslider-wrapper .price  {
	color: #000;
}


div.fme-filter a.fme_layered_attribute_selected {
	overflow: visible !important;
}

.delivery .glyphicon {
    width: 1em;
    height: 1em;
}

.delivery .checkbox-yes::before {
	font-size: 1.5em;
	position: absolute;
	top: -.35em;
	left: -.05em
}

.product-options dt:first-child {
	display: none;
}

.catalog-category-view .price-box .price,  .catalogsearch-result-index .price-box .price, .category-products .price-box .price {
	color: #000;
	font-size: 22px; padding: 10px 0;
}



@media only screen and (min-width: 768px) {
	.footer-primary-container .grid12-4:nth-child(2) {
		float: right;
	}

	.footer-primary-container .grid12-4:nth-child(n+3) {
		border-right: 1px dashed;
		box-sizing: border-box;
	}
}


@media only screen and (min-width: 960px) {
	#fme_layered_price ol:first-child {
		display: none;
	}
}

.footer-primary-container > .footer-primary {
	margin-top: 50px;
}

.add-to-links li span:nth-child(2) {
	display: none;
}

.add-to-links li span:nth-child(2):hover, .add-to-links li span:hover + span {
	display: table-cell;
}

#mini-cart .dropdown-toggle img {
	position: absolute;
	top: 6px;
	left: 6px;
	-webkit-transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-ms-transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
}

#mini-cart .dropdown-toggle img:nth-child(2) {
	opacity: 1;
}

#mini-cart.open .dropdown-toggle img:nth-child(2) {
	opacity: 0;
}

#mini-cart .dropdown-toggle img:nth-child(1) {
	opacity: 0;
}

#mini-cart.open .dropdown-toggle img:nth-child(1) {
	opacity: 1;
}

#mini-cart .dropdown-toggle .caret {
	position: absolute;
	top: 50%;
	right: 5px;
}

.category-products .itemgrid-adaptive.itemgrid-3col > li:nth-of-type(n) {
	clear: none !important;
}

.catalog-category-view .category-products button span span {
	padding: 10px;
	background-color: #0091e4;
}



.um-fortis .dropdown-toggle.cover {
	background-color: transparent;
}

button.button span {
	color: #fff;
}

.catalog-category-view .category-products button.button span span {
	font-size: 16px;
	height: 20px;
	line-height: 20px;
}

.catalogsearch-result- .category-productsindex button.button span span {
	font-size: 16px;
}

.fme-filter li a.fme_layered_attribute_selected::after {
	color: #f60;
}

.cms-home .the-slideshow-wrapper-outer {
	margin-top: -10px;
}

@media only screen and (max-width: 639px) {
	.catalog-product-view .add-to-links {
		display: none;
	}
}

@media only screen and (max-width: 959px) {
	/* User menu */
	#mini-cart .dropdown-toggle .name,
	.quick-compare .dropdown-toggle .name
	{
		display: block !important;
	}

	#fme_layered_price ol:last-child {
		display: none;
	}
}

.delivery-icon, .garantie-icon, .aansluit-icon, .service-icon { display: none; }
.product-options ul.options-list .label { margin-left: 0; }
.img-box-style1 .product-image, .img-box .more-images .thumbnails .item a { border: none !important; }
#itemslider-sale .product-options-bottom .price-box { padding: 0 7px !important; }
#product-tabs .std h2 { font-size: 1.5em; }
.block-layered-nav dt::before { display: none; }
.block-layered-nav dd li, .block-layered-nav .currently ol li { padding-left: 0; background: none; }
.products-grid-style1, .products-list-style1 { background: none; }
#fme_layered_price li { color: #000; }
#fme_layered_price #price_range_fromprice, #fme_layered_price #price_range_toprice { color: #FF6600; font-weight: bold; margin-left: 1px; }
#nav .nav-panel--dropdown a:hover { color: #FF6600 !important; }
button.button span { background-color: #0091E4; }



.um-fortis #mini-cart .dropdown-toggle.cover > div {
	min-width: 85px;
}

#mini-cart .amount {
	position: absolute;
	right: 18px;
	background-color: #f60;
	line-height: 25px;
	top: 10px;
	border-radius: 50%;
	height: 25px;
	width: 25px;
	box-sizing: border-box;
	text-align: center;
	color: #fff;
}

button.button:hover span {
	background-color: #25A3EC;
}

.fieldset, .box-info {
	background-color: #fff;
	border-width: 0;
}

.social-footer img {
	height: 35px;
}

.social-footer a:nth-child(n+2) {
	margin-left: 15px;
}

.social-footer {
	position: relative;
	width: 98%;
}

.cms-algemene-voorwaarden ol ol > li {
	list-style-type: lower-alpha;
}

.cms-algemene-voorwaarden ol ul > li {
	list-style: disc;
	margin-left: 20px;
}

.cms-bestellen-en-betalen h4, .cms-verzenden-en-afhalen h4 {
	font-size: 16px;
	margin: 0;
	font-weight: bold;
}

.footer .disc li a {
	color: #eee;
}

.footer .disc li a:hover, .footer .disc li a:active {
	color: #ddd;
}

.footer .links li a:visited {
	color: #eee;
}

@media only screen and (max-width: 639px) {
	.page .user-menu > *, .page .user-menu .links, .page .dropdown {
		float: right !important;
	}
}

#top .pinto-container .grid-col2-main, #top .pinto-container .grid-col2-sidebar {
	height: 1px;
	position: relative;
}

#top .sidebar-pinto {
	top: 0;
	position: relative;
	left: 0;
	width: 100%;
	height: 49px;
}

#top .sidebar-pinto li span{
	display: inline-block;
	float: left;
}

#top .sidebar-pinto .glyphicon, #top .sidebar-pinto .pinto-image {
	margin-bottom: 0;
	line-height: 37px
}

#top .sidebar-pinto .glyphicon:nth-child(n+2), #top .sidebar-pinto .pinto-image {
	margin-left: 20px !important;
}

#top .sidebar-pinto li {
	height: 35px;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

#top .sidebar-pinto .pinto-image img {
	height: 22px;
	width: auto !important;;
}

#top .sidebar-pinto br {
	display: none;
}

#top .sidebar-pinto span br {
	display: block;
}

#top .sidebar-pinto li {
    margin-bottom: 0px !important;
    border-radius: 0px;
}

.cms-home .the-slideshow-wrapper img {
	width: 100%;
}

.sidebar-pinto {
    position: absolute;
    top: 10px;
    right: -175px;
    width: 173px;
	z-index: 100;
}

.sidebar-pinto.sticky {
	position: fixed !important;
	top: 0;
}

.sidebar-pinto li {
	background: #EAEAEA;
	margin-bottom: 2px;
	color: #000;
	padding: 7px;
	font-size: 12px;
	border-radius: 5px;
}

.sidebar-pinto span + span {
	display: inline-block;
	font-size: 12px;
}

.sidebar-pinto span b {
	font-size: 14px;
}

.sidebar-pinto .glyphicon, .sidebar-pinto .pinto-image {
	margin-right: 7px;
	font-size: 2em;
	margin-bottom: 20px;
}

.pinto-product .sidebar-pinto {
	top: 1px;
	position: relative;
	left: 0;
	width: auto
}

.pinto-product .sidebar-pinto li span{
	display: inline-block;
	float: left;
}

.pinto-product .sidebar-pinto .glyphicon, .pinto-product .sidebar-pinto .pinto-image {
	margin-bottom: 0;
	line-height: 37px
}

.pinto-product .sidebar-pinto .glyphicon:nth-child(n+2), .pinto-product .sidebar-pinto .pinto-image {
	margin-left: 20px !important;
}

.pinto-product .sidebar-pinto li {
	height: 35px;
}

.pinto-product .sidebar-pinto .pinto-image img {
	height: 22px;
	width: auto !important;;
}

.pinto-product .sidebar-pinto br {
	display: none;
}

.pinto-product .sidebar-pinto span br {
	display: block;
}

.pinto-product .sidebar-pinto li {
	border-radius: 0;
}

.pinto-product {
    margin-top: -1px !important;
}

.product-top-wrapper {
	margin-left: 1% !important;
}



.pinto-home-sidebar .sidebar-pinto {
	top: -20px;
	position: relative;
	left: 0;
	width: auto
}

.pinto-home-sidebar .sidebar-pinto li span{
	display: inline-block;
	float: left;
}

.pinto-home-sidebar .sidebar-pinto .glyphicon, .pinto-home-sidebar .sidebar-pinto .pinto-image {
	margin-bottom: 0;
	line-height: 37px
}

.pinto-home-sidebar .sidebar-pinto .glyphicon:nth-child(n+2), .pinto-home-sidebar .sidebar-pinto .pinto-image {
	margin-left: 20px !important;
}

.pinto-home-sidebar .sidebar-pinto li {
	height: 35px;
}

.pinto-home-sidebar .sidebar-pinto .pinto-image img {
	height: 22px;
	width: auto !important;;
}

.pinto-home-sidebar .sidebar-pinto br {
	display: none;
}

.pinto-home-sidebar .sidebar-pinto span br {
	display: block;
}

.pinto-home-sidebar .sidebar-pinto li {
	border-radius: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	        justify-content: center;
}

.pinto-home-sidebar {
    margin-top: -1px !important;
}

.footer #subscribe-form .input-box{
	width: calc(100% - 80px)
}

.footer #subscribe-form .input-text {
	width: 100%;
}

.footer .grid12-4:nth-child(n+3) {
	padding-right: 30px;
	padding-top: 10px;
}

.footer .grid12-4:nth-child(1) h5 {
	margin-top: 10px;
	margin-bottom: 0;
	font-weight: bold;
}

.cms-home .special-price .price, .catalog-category-view .special-price .price, .category-products .special-price .price {
	color: #000 !important;
}

.cms-home .old-price .price, .catalog-category-view .old-price .price, .category-products .old-price .price {
	color: #f00;
}

#div-accessories .sticker {
	display: none !important;
}

.block-related .product-options-bottom .price-box, #div-accessories .product-options-bottom .price-box {
    padding: 0px 10px !important;
    width: 6em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.product-view .block-related .product-options-bottom .price-box .regular-price .price, .product-view #div-accessories .product-options-bottom .price-box .regular-price .price {
	font-size: 14px !important;

}

.block-related .product-options-bottom, #div-accessories .product-options-bottom {
	height: 25px;
}

.block-related .product-options-bottom .btn-cart img, #div-accessories .product-options-bottom .btn-cart img {
	height: 20px !important;
}

.block-related .product-options-bottom .btn-cart span span, #div-accessories .product-options-bottom .btn-cart span span {
	padding: 2px 5px !important;
	height: 21px;
}

.tabs-panels {
	background-color: #fff !important;
}

#div-accessories h3 {
	border: none;
}

#div-accessories .product-options-bottom .price-box {
	line-height: 25px;
}

.block-viewed {
	display: none;
}

#tab-tabreviews, #tab-product\.tags {
	display: none;
}

.gen-tabs .tabs a.current {
	background-color: #fff;
}

.footer-primary-container, .footer-bottom-container .section {
	padding-bottom: 0;
}

.footer-bottom-container .section {
	padding-top: 0;
}

.page {
	background-color: #0091e4;
}

.footer-container {
	margin-top: -25px;
}

.footer-bottom-container .links a {
	line-height: 1em !important;
}

.footer-bottom-container:nth-child(3) .footer-bottom.container {
	padding-top: 0;
	padding-bottom: 10px;
}

.header-top-container .header .customer-service-block li a {
	font-size: 16px;
	text-transform: none;
	line-height: 16px;
}

.header-top-container .header .customer-service-block li {
	display: block;
}

#shopping-cart-totals-table tbody tr:first-child {
	display: none;
}

.sidebar-pinto .pinto-image svg {
	height: 33px;
	margin-top: 2px;
}

#home-categories h2.left-button + h2 {
	padding: 7px 20px;
	border-radius: 50%;
	background-color: #f60;
}

#home-categories h2.left-button + h2:hover {
	background-color: #0091e4;
}

#home-categories svg {
    fill: #0091E4;
    height: 32px !important;
    top: 1px;
    z-index: -1;
    position: absolute;
    right: -16px;
}

.accessories-grid ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: left;
	-webkit-justify-content: left;
	    -ms-flex-pack: left;
	        justify-content: left;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

.accessories-grid li {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 23.5%;
	margin-right: 2%;
}

.accessories-grid li:nth-child(4n) {
	margin-right: 0;
}

.accessories-grid li > .product-image-wrapper {
	-webkit-box-ordinal-group: 0;
	-webkit-order: -1;
	    -ms-flex-order: -1;
	        order: -1;
}

.accessories-grid li > .product-name {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 2.5em;
	max-height: 2.5em;
	text-align: center;
}

.accessories-grid li .product-options-bottom {
	width: auto;
	margin-top: 0;
}

.accessories-grid li > div:nth-child(2) {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.accessories-grid li .spacer {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}


.availability-div {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: start;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	min-height: 3em;
}

.availability-div img {
	margin-right: 10px;
	-webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	        flex-shrink: 0;
}

.availability-div span {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: left;
}

.customer-service-block ul > li {
	line-height: 1.5em!important;
}

.customer-service-block ul li a {
	font-size: 12px !important;;
}

.customer-service-block ul:last-child li, .customer-service-block ul:last-child .glyphicon, .customer-service-block ul:last-child a {
	font-size: 16px !important;;
}

@media only screen and (max-width: 959px) {
	.sidebar-pinto li span:nth-child(1), .sidebar-pinto li span:nth-child(2) {

	}

	.product-bottom > div:nth-child(2) > span:first-child { font-size: 20px !important; }
	#home-categories h2.left-button { font-size: 10px; }
	.social-footer a:nth-child(n+2) { margin-left: 7px; }
}

@media only screen and (max-width: 767px) {
	.sidebar-pinto li span:nth-child(1), .sidebar-pinto li span:nth-child(2) {

	}
	.product-bottom > div:nth-child(2) > span:first-child { font-size:15px !important; }
	.sidebar-pinto span + span {
		    font-size: 9px !important;
	}
	.sidebar-pinto span b { font-size: 9px !important;  }
	.only-mobile { display: block !important; }

	.accessories-grid li { width: 40%; }
	.custom-out-of-stock, .custom-not-available, .custom-in-stock { height: 72px; }

	.certs, .goedkoopste { float: none !important; text-align: center; margin: 10px 0; }
	.goedkoopste span, .goedkoopste img { float: none !important; }

	.fme-filter li a::after {
		top: -0.4em;
	}
}

@media only screen and (min-width: 767px) {
	.products-grid li:hover .add-to-links { display: block; }
}


@media only screen and (max-width: 479px) {
	.sidebar-pinto li span:nth-child(3), .sidebar-pinto li span:nth-child(4) {
		display: none !important;
	}
	#home-categories h2.left-button { font-size: 14px; }
	.accessories-grid li { width: 100%; }

	.in-sidebar #catalog-filters { display: none; }
}

@media only screen and (max-width: 479px) {
	.sidebar-pinto li span:nth-child(4), .sidebar-pinto li span:nth-child(5) {
		display: none !important;
	}

	.sidebar-pinto span + span {
		    font-size: 10px;
	}
	.sidebar-pinto span b { font-size: 11px; }

	.product-bottom img { height: 30px; margin-bottom: 10px; }

}

a.logo img {
	max-height: 100px;
	padding-left: 5px;
	padding-top: 5px;
}

a.logo strong {
	display: none;
}

#div-accessories ul li > div:last-child {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.nav-regular .nav-item.level0.last > a {
	background-color: #f60;
}

.nav-regular .nav-item.level0.last:hover > a {
	color: #fff;
	background-color: #0091e4;
}

.cart #div-accessories ul > li {
	background-color: #fff;
	padding-bottom: 10px;
	padding-top: 10px;
}

.cart #div-accessories .product-image {
	border: none;
}


#subscribe-form label, h6.block-title, .footer-container h4 { text-transform: uppercase; font-size: 17px !important; }

body.catalog-product-view  .box-up-sell { display: none; }
.product-shop .sku { display: none; }
.dd-title { font-family: 'Lobster Two', 'Lato', sans-serif, Arial; font-size: 39px; line-height: 100%; padding: 0px 0px 10px; font-style: italic; color: #FF6600 !important; }
.cart-left-column .discountbanner { display: none; }
span.dd-number { font-size: 16px; font-weight: bold; }

.header-phone-mobile { padding-top: 19px; color: #fff; }
.header-phone-mobile a { color: #fff; }
a.layered_trigger { width: 100%; display: block; color: #fff; background-color: #FF6600; text-align: center; font-size: 17px; line-height: 35px; }
.only-mobile { display: none; }
.acco .opener { display: none; }

.links-wrapper-separators .links > li > a { background-position: right 3px; }
li.customer-service { width: auto; }
a.logo img { max-height: 100px; padding-left: 13px; padding-top: 5px; padding-bottom: 7px; }
.discountbanner img { width: 100%; }


.dd-featured-deal .dd-title a span { font-family: 'Lobster Two', 'Lato', sans-serif, Arial; font-size: 39px; line-height: 100%; padding: 0px 0px 10px; font-style: italic; color: #FF6600 !important; }
.dd-featured-deal .dd-content .product_name { font-weight: normal; }
.dd-featured-deal .dd-content .dd-actions button { cursor: pointer;     padding: 11px 6px; width: 150px; text-shadow: none !important; background: #FF6600 !important; }

.dd-featured-deal .dd-header .dd-image { height: 400px; text-align: center; }
.dd-featured-deal .dd-header .dd-image .featured-deal-image { height: 400px; position: relative; top: auto; width: auto; }

.dd-featured-deal .dd-header .dd-price { right: 200px; }

.dd-featured-deal .dd-header .dd-price .price-box p.special-price span.price { color: #FF781E !important; font-size: 62px; line-height: 59px; }

@media only screen and (max-width: 479px) {
	.dd-featured-deal .dd-header .dd-image .featured-deal-image { height: auto; width: 100%; }
	.dd-featured-deal .dd-header .dd-price { right: 10px; }
	.dd-featured-deal .dd-header .dd-image { height: 300px; }
	.social-icons { display: none; }
	.pinto-product .sidebar-pinto .pinto-image,  .pinto-home-sidebar .sidebar-pinto .pinto-image { margin-left: 0 !important; }
}

.customer-service-block ul { margin: 10px 0; }
.customer-service-block li { margin-left: 15px; }
.customer-service-block li a { font-size: 10px !important; }
#acctab-tabreviews, #acctab-product\2e tags { display: none; }

.footer-container .block-content, .footer-container .block-content li { font-size: 12px; }


#custom_form .product-options {
	border: none;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.availability-div {
		min-height: 4.5em;
	}
}

.fme-filter button span {
	padding: 5px 10px;
}

.nav-mobile .nav-7 .opener {
	display: inherit;
}







@media(min-width: 768px) {
	#deal-slider .dd-featured-deal {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}

	#deal-slider .dd-featured-deal .dd-header {
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
		-webkit-box-ordinal-group: 11;
		-webkit-order: 10;
		    -ms-flex-order: 10;
		        order: 10;
	}

	#deal-slider .dd-featured-deal .dd-content {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		padding-left: 20px;
	}

	#deal-slider .dd-content {
		width: 400px;
	}

	#deal-slider .dd-header {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	#deal-slider .dd-price.layer {
		position: relative;
		right: auto;
		margin-left: -120px;
	}
}

.cms-home .dd-featured-deal .dd-header .dd-price .price-box p.special-price span.price {
	color: #f60 !important;
}

.pagination-pos-over-bottom-centered .owl-pagination {
	margin-top: -45px !important;
}



.pagination-pos-over-bottom-centered .owl-pagination .active span {
	background: #f60 !important;;
}

#deal-slider .dd-content {
	background: #fff;
}

/*hide wwk icon op mobile*/
.wwk--sidebar-mobile {display: none!important;}

.amlabel-txt2 {
	z-index:99  !important;
}
.container1-wrapper p.required{ 
	display: none;
}
.amlabel-txt2{
	margin-left: 17.2%;
}
.product-image-gallery .gallery-image.visible{
	margin: 0 auto;
}
.category-products .amlabel-txt2{
	margin-left: -1px;
    margin-top: 27px!important;
}
.product-view .container1-wrapper{
	padding-left: 0;
}
.product-options dl dd:first-child{
	display: none;
}
dl.sp-methods dt:first-child, dl.sp-methods dd:first-child, dl.sp-methods label[for="s_method_postnl_flatrate"]{
	display: none;
}
.question-mark{
	display: inline-block;
	background: url('../images/uitleg-icon.png')no-repeat center;
	width: 15px;
    height: 15px;
    margin: 2px 0 0 15px;
}
.tooltip{
	display: none;
}

@media only screen and (max-width: 1439px){
	.amlabel-txt2{
	margin-left: 54px;
}
}

@media only screen and (max-width: 1359px){
	.amlabel-txt2{
	margin-left: 40px;
}
}


@media only screen and (max-width: 1279px){
	.amlabel-txt2{
	margin-left: 24px;
}
}

@media only screen and (max-width: 994px){
	.amlabel-txt2{
	margin-left: 19px;
}
}

@media only screen and (max-width: 960px){
	.amlabel-txt2{
	margin-left: 1px;
}
}
/*bundle product options modal */
.modalDialog {
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 99999;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
    }


    .modalDialog > div {
        width: 400px;
        max-width: 80%;
        position: relative;
        margin: 15px 15px 15px 10px;
        padding: 5px 20px 13px 20px;
        border-radius: 3px;
        background: #fff;
        -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow:    0px 0px 11px 0px rgba(0, 0, 0, 0.5);
        box-shadow:         0px 0px 11px 0px rgba(0, 0, 0, 0.5);
    }

    .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }

    .close:hover { background: #00d9ff; }
.catalog-product-view .sidebar-pinto{
	left: 0!important;
	width: calc(100% - 20px)!important;
}
/* Safari 10.1+ */

@media not all and (min-resolution:.001dpcm) { @media
{
    .catalog-product-view .sidebar-pinto{
	left: 0!important;
	width: calc(100% - 19px)!important;
}
}}

.product-view .box-additional{
	margin: 20px 0 0 0;
	width: 100%;
}
.pv-top-outline .product-top-wrapper{
	margin: 0!important;
    width: 100%!important;
}