<?php
/**
 * Magmodules.eu
 * http://www.magmodules.eu
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@magmodules.eu so we can send you a copy immediately.
 *
 * @category    Magmodules
 * @package     Magmodules_Webwinkelconnect
 * @author      Magmodules <info@magmodules.eu)
 * @copyright   Copyright (c) 2015 (http://www.magmodules.eu)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 
 // Load data
 $enabled = $this->getWebwinkelconnectEnabled();
 $data = $this->getWebwinkelconnectData(); 		

 // All available data
 $company = $data->getCompany();
 $avarage = $data->getAvarage();		
 $avarage_stars = $data->getAvarageStars();				
 $percentage_positive = $data->getPercentagePositive();						
 $number_positive = $data->getNumberPositive();								
 $percentage_neutral = $data->getPercentageNeutral();								
 $number_neutral = $data->getNumberNeutral();								
 $percentage_negative = $data->getPercentageNegative();								
 $number_negative = $data->getNumberNegative();								
 $percentage = $data->getPercentage();														
 $stars_qty = $data->getStarsQty();		

?> 
<?php if($enabled) { ?>
	<div class="webwinkelconnect-custom">
		<a href="https://www.webwinkelkeur.nl/leden/TVreus_9123.html" target="_blank" class="webwinkelkeurPopup" title="WebwinkelKeur Webwinkel Keurmerk" >
			<img src="https://www.webwinkelkeur.nl/banners/64x64.png" alt="WebwinkelKeur Webwinkel Keurmerk" />
			<div class="average-box">
				<div class="wwk--tt-header-score-value"><span class="wwk--tt-header-score-value-inner"><?php echo $percentage / 10; ?></span>/10</div>
			</div>
		</a>
	</div>	
<?php } ?>