<?php
/**
 * Magmodules.eu
 * http://www.magmodules.eu
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@magmodules.eu so we can send you a copy immediately.
 *
 * @category    Magmodules
 * @package     Magmodules_Webwinkelconnect
 * @author      Magmodules <info@magmodules.eu)
 * @copyright   Copyright (c) 2015 (http://www.magmodules.eu)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?> 
<?php if(($this->getSnippetsEnabled()) && ($snippets = $this->getSnippets())) { ?>
	<?php if(Mage::getBlockSingleton('page/html_header')->getIsHomePage()) { ?>
		<div class="webwinkelconnect-snippets">
			<?php echo $this->getHtmlStars($snippets->getPercentage()); ?>
			<div itemscope="itemscope" itemtype="http://schema.org/WebPage">
				<div itemprop="aggregateRating" itemscope="itemscope" itemtype="http://schema.org/AggregateRating">
					<meta itemprop="bestRating" content="100">
					<p><?php echo Mage::helper('webwinkelconnect')->__('Rating %s based on %s customer reviews', '<span itemprop="ratingValue">' . $snippets->getPercentage() . '</span>%', '<span itemprop="ratingCount">' . $snippets->getVotes() . '</span>') ?> <?php echo $this->getExternalLink(); ?> </p>
				</div>
			</div>
		</div>	
	<?php } else { ?>
		<div class="webwinkelconnect-snippets">
			<?php echo $this->getHtmlStars($snippets->getPercentage()); ?>
			<p><?php echo Mage::helper('webwinkelconnect')->__('Rating %s based on %s customer reviews', '<span>' . $snippets->getPercentage() . '</span>%', '<span>' . $snippets->getVotes() . '</span>') ?> <?php echo $this->getExternalLink(); ?> </p>
		</div>		
	<?php } ?>
<?php } ?>