<?php
	$cat_id = $this->getData('cat_id');
	
	$attributes=array('manufacturer', 'diagonal');

	$category = Mage::getModel('catalog/category')->load($cat_id);

	//echo "<h2>" . $category->getName() . "</h2>";

    $catUrl = $category->getUrl();

    $cache = Mage::app()->getCache();

    foreach ($attributes as $attrName) {
	    $attributeInfo = Mage::getResourceModel('eav/entity_attribute_collection')->setCodeFilter($attrName)->getFirstItem();
	    $attributeId = $attributeInfo->getAttributeId();
	    $attribute = Mage::getModel('catalog/resource_eav_attribute')->load($attributeId);

	    $key = "pinto_filters_menu_" . $attrName . $cat_id;

	    $data = $cache->load($key);

	    if(!$data) {
	        $manufacturers = array();


	        //getting all products collection to get attribute value
	        $collection = Mage::getResourceModel('catalog/product_collection');
	        $collection->addCategoryFilter($category);
	        $collection->addAttributeToFilter('status',1);
	        $collection->addAttributeToSelect(array($attrName));
	        $collection->addStoreFilter();
	        $collection->addAttributeToSort($attrName,'asc');

	        //and finally getting unique attribute value 
	        if(!empty($collection)){
	                foreach ($collection as $_product){
	                    if(!in_array($_product->getAttributeText($attrName), $manufacturers)){
	                        $manufacturers[$_product->getData($attrName)] = $_product->getAttributeText($attrName);
	                    }
	                }

	        }

	        $cache->save(urlencode(serialize($manufacturers)),$key,array("pinto_cache"),300);
	    } else {
	    	$manufacturers = unserialize(urldecode($data));
	    }

	    ?>
	    <div class="menu-filter-div">
	    	<h3><?php echo $attribute->getStoreLabel(); ?></h3>
		    <ul class="menu-filter">
		    	<?php
		    	    foreach ($manufacturers as $optionValue => $optionLabel) {
		    	    	$id = $optionValue;
		    	    	$name = $optionLabel;
		    	    	echo "<li><a href=\"$catUrl?clearall=true&$attrName=$id\">$name</a></li>";
		    	    }
		    	?>
		    </ul>
		</div>
	    <?php
    }
?>
<div class="menu-filter-div">
	<h3><?php echo $this->__('Price'); ?></h3>
	<ul class="menu-filter">
		<?php 
			$symbol = '&euro;';
			for($l = 0; $l < 8; ++$l) {
				echo "<li><a href=\"$catUrl?clearall=true&price=" . $l * 250 . "," . ($l+1) * 250 . "\">" . $symbol . $l * 250 . "-" . $symbol . ($l+1) * 250 . "</a></li>";
			}
		?>
		<li><a href="<?php echo "$catUrl?clearall=true&price=2000,999999"; ?>">>&euro; 2000</a></li>
	</ul>
</div>