<?php if ($this->getIsInitialSetup() === 1 || $this->getIsValid() === 0) { ?>
    <button onclick="setLocation('<?php echo $this->escapeHtml($this->getUrl('adminhtml/pricer_settings/index')); ?>')">
        Go to Settings
    </button>
<?php } else { ?>
    <div id="hidden-progress" style="display:none"></div>
    <div id="progress-bar-container" style="display: none;">
        <div id="progress-bar" class="progress">
            <div class="progress-bar"></div>
        </div>
    </div>

    <div id="product-grid-container">
        <div class="content-header">
            <table cellspacing="0">
                <tr>
                    <td style="width:50%;">
                        <h3 class="icon-head head-products">
                            <?php echo $this->escapeHtml('Select products to import Prisync'); ?>
                        </h3>
                    </td>
                    <?php
                    $companyStatus = $this->getCompanyStatus();
                    $remainingTrialDays = $this->getRemainingTrialDays();
                    if ($companyStatus === 'in_trial' || $companyStatus === 'extended') {
                        if ($remainingTrialDays > 0) { ?>
                            <td style="width:50%;float:right;text-align:right">
                            <span>
                                <?php echo Mage::helper('prisync_pricer')->__(
                                        'Your trial ends in <b>'.$remainingTrialDays.'</b> days.'
                                        .'<a href="http://bit.ly/prisync-subscribe" target="_blank">'
                                        .'<b>Subscribe Now!</b>'
                                        .'</a>'
                                    ); ?>
                            </span>
                            </td>
                        <?php } else { ?>
                            <td style="width:50%;float:right;text-align:right">
                            <span>
                                <?php echo Mage::helper('prisync_pricer')->__(
                                        'Your trial period is over.'
                                        .'<a href="http://bit.ly/prisync-subscribe" target="_blank">'
                                        .'<b>Subscribe Now!</b>'
                                        .'</a>'
                                    ); ?>
                            </span>
                            </td>
                        <?php }
                    }
                    ?>
                </tr>
            </table>
        </div>
        <p class="switcher">
            In this table, you can select <b><?php echo $this->escapeHtml($this->getCompanyPackageLimit()); ?></b> 
            products to import into <b>Prisync</b>.
            <br><br>
            After selecting your products, click <b>Submit</b> button to import.
            <br><br>
            Listed products are from your store: <b><?php echo $this->escapeHtml($this->getSelectedStoreInfo()); ?>.</b>
            You can change store from <a href="<?php echo $this->getUrl('adminhtml/pricer_settings/index');?>">settings</a>.
        </p>
        <?php echo $this->getGridHtml(); ?>
    </div>
    <input type="hidden" id="companyPackageLimit" 
        value="<?php echo $this->escapeHtml($this->getCompanyPackageLimit()); ?>" />
    <script type="text/javascript">
        var baseUrl = '<?php echo Mage::getUrl("adminhtml/pricer_index");?>';
        var checkOnGoingProcess = true;
        var batchImportProgressTracker = null;
        var isBatchImportProgressTrackerActive = true;
        var progressBar = null;

        document.observe("dom:loaded", function() {
            progressBar = initProgressBar();
            batchImportProgressTracker = creataBatchImportProgressTracker();

            // Overwrite mass action oncomplete event
            product_list_massactionJsObject.onMassactionComplete = function (response) {
                clearMessage();

                response = response.responseJSON.result;

                if (response.error) {
                    hideProgressBar();
                    showMessage(response.error, 'error');
                    batchImportProgressTracker.stop();
                }
            };

            // Show progress bar right after ajax call made to batch import product
            Ajax.Responders.register({
                onCreate: function(request) {
                    if (request.url.include('import')) { // check ajax request is made for product import
                        $('product-grid-container').addClassName('disabledGrid');

                        checkOnGoingProcess = false;

                        showProgressBar();
                    }
                },
                onComplete: function (request) {
                    setGridView();
                    if (request.url.include('import')) { batchImportProgressTracker.start(); }
                    if (request.url.include('getBatchImportProgress') && isBatchImportProgressTrackerActive) { Element.show('loading-mask'); }
                }
            });

            setGridView();
            productCount = countCheckedProducts();
        });
    </script>
<?php } ?>