<div class="entry-edit" id="credential-form-container" style="width:49%;float:left">
    <form name="credential-form" id="credential-form" enctype="multipart/form-data" action="<?php echo Mage::getUrl("adminhtml/pricer_settings").'saveCredential?isAjax=true'?>" method="post" onsubmit="saveCredential();return false;">
        <input type="hidden" name="form_key" 
            value="<?php echo $this->escapeHtml(Mage::getSingleton('core/session')->getFormKey()); ?>" />
        <div class="entry-edit-head">
            <h4 class="head-edit-form">Get Started</h4>
            <button type="submit" class="form-buttons scalable save">Save and continue to import your products</button>
        </div>
        <div class="fieldset">
            <table class="form-list">
                <tbody>
                <tr>
                    <td class="label">
                        <label for="app_email">Email</label>
                    </td>
                    <td class="value">
                        <input type="text" name="app_email" id="app_email" 
                            class="input-text required-entry validate-email" 
                            value="<?php echo $this->escapeHtml($this->getAppEmail()); ?>"/>
                        <p class="note">Email address that you login to prisync.com</p>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="app_api_key">API Key</label>
                    </td>
                    <td class="value">
                        <input type="text" name="app_api_key" id="app_api_key" 
                            class="input-text required-entry validate-alphanum 
                                      validate-length minimum-length-32 maximum-length-32"
                            value="<?php echo $this->escapeHtml($this->getAppApiKey()); ?>"/>
                        <p class="note">
                            Learn more about API Key 
                            <a href="http://bit.ly/how-to-access-my-api-feed" target="_blank">
                                <i class="link-store-scope" style="margin-top:1px"></i>
                            </a>
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<div class="entry-edit" id="settings-form-container" style="width:49%;float:right">
    <form name="settings-form" id="settings-form" enctype="multipart/form-data" action="<?php echo Mage::getUrl("adminhtml/pricer_settings").'saveSettings?isAjax=true'?>" method="post" onsubmit="saveSettings();return false;">
        <input type="hidden" name="form_key" 
            value="<?php echo $this->escapeHtml(Mage::getSingleton('core/session')->getFormKey()); ?>" />
        <div class="entry-edit-head">
            <h4 class="head-edit-form">Settings</h4>
            <button type="submit" class="form-buttons scalable save">Save</button>
        </div>
        <div class="fieldset">
            <table class="form-list">
                <tbody>
                    <tr>
                        <td>
                            <label for="set_price_auto">
                                Do you want to set your prices automatically 4 times in a day by Prisync Repricing Engine?
                            </label>
                        </td>
                        <td class="value">
                            <select class="select" id="set_price_auto" name="set_price_auto">
                                <option value="0" <?php echo $this->getPriceAuto() == "0" ? "selected" : "" ?>>No</option>
                                <option value="1" <?php echo $this->getPriceAuto() == "1" ? "selected" : "" ?>>Yes</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="set_price_attr">
                                Which attribute do you prefer to be set by Prisync Repricing Engine?
                            </label>
                        </td>
                        <td class="value">
                            <select class="select" id="set_price_attr" name="set_price_attr">
                                <option value="price"
                                    <?php echo $this->getPriceAttr() == "price" ? "selected" : "" ?>>Price</option>
                                <option value="special_price"
                                    <?php echo $this->getPriceAttr() == "special_price" ? "selected" : "" ?>>Special Price</option>
                            </select>
                            <p class="note">
                                Learn more about price attributes
                                <a href="http://bit.ly/magento-settings" target="_blank">
                                    <i class="link-store-scope" style="margin-top:1px"></i>
                                </a>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="set_store_id">
                                Which store's product URLs do you want to use when importing to Prisync?
                            </label>
                        </td>
                        <td class="value">
                            <select class="select" id="set_store_id" name="set_store_id">
                                <?php foreach($this->getStoreOptions() as $storeOptionId => $value) { ?>
                                    <option value="<?php echo $storeOptionId; ?>"
                                        <?php echo $this->getSavedStoreId() == $storeOptionId ? "selected" : "" ?>>
                                            <?php echo $value; ?></option>
                                <?php } ?>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="set_auto_sync">
                                Do you want to keep your products synchronized with Prisync?
                            </label>
                        </td>
                        <td class="value">
                            <select class="select" id="set_auto_sync" name="set_auto_sync">
                                <option value="0" <?php echo $this->getAutoSync() == "0" ? "selected" : "" ?>>No</option>
                                <option value="1" <?php echo $this->getAutoSync() == "1" ? "selected" : "" ?>>Yes</option>
                            </select>
                            <p class="note">
                                Learn more about auto-sync
                                <a href="http://bit.ly/magento-settings" target="_blank">
                                    <i class="link-store-scope" style="margin-top:1px"></i>
                                </a>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<script type="text/javascript">
    var credentialForm = new varienForm('credential-form'); // Initialize validation rules automatically
    var settingsForm = new varienForm('settings-form'); // Initialize validation rules automatically
</script>
