.disabledGrid {
    pointer-events: none;
    opacity: 0.4;
}

#progress-bar-container {
    height: 30px;
    width: 100%;
    padding: 10px 0;
    background-color: white;
}

.progress {
    width: 100%;
    height: 30px;
    background-color: #F5F5F5;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress-bar {
    transition: width 0.5s linear;
    height: 100%;
    background-color: #ed6502;
    border-radius: 4px;
}