<?php
/**
 * @copyright   Copyright (c) 2011 http://magentosupport.net
 * @author		Vlad Vysochansky
 * @license     http://opensource.org/licenses/gpl-license.php  GNU General Public License (GPL)
 */
?>
<script type="text/javascript">
	function call_validate(){
		$('call_name').removeClassName('validation-failed');
		$('call_telephone').removeClassName('validation-failed');
		var validateFlag = true;
		if (!Validation.get('required-entry').test($('call_name').getValue())){
			$('call_name').addClassName('validation-failed');
			validateFlag = false;
		}
		if (!Validation.get('required-entry').test($('call_telephone').getValue())){
			$('call_telephone').addClassName('validation-failed');
			validateFlag = false;
		}
		if(validateFlag){
			return true;
		}else{
			return false;
		}
	}
    function call_subm(){
		if (call_validate()){
			$('call_name').removeClassName('validation-failed');
			$('call_telephone').removeClassName('validation-failed');
			var call_name = $('call_name').getValue();
			var call_telephone = $('call_telephone').getValue();
			var call_comment = $('call_comment').getValue();
			var call_hideit = $('call_hideit').getValue();
			Element.hide('loadingform');
			Element.show('loadingmask');
			new Ajax.Updater({success:'messages_product_view'}, '<?php echo $this->getUrl('callbackrequest/index/send') ?>', {
				method:'post',
				action:"/contacts/index/post",
				asynchronous:true,
				evalScripts:false,
				onComplete:function(request, json){
					Element.hide('loadingmask');
					Element.show('loadingform');
				},
				onLoading:function(request, json){},
				parameters: {name:call_name,telephone:call_telephone,comment:call_comment,hideit:call_hideit}
            });
            $('call_name').setValue('');
            $('call_telephone').setValue('');
    	}
    	return false;
	}
</script>
<style type="text/css">
	.block-callback input.input-text {display: block; margin: 3px 0; width: 167px;}
	.block-callback .block-content {padding: 5px 10px;}
	.block-callback button.button span {background: none repeat scroll 0 0 #618499; border-color: #406A83;}}
</style>
<div class="block block-callback">
	<div class="block-title"><strong><span><?php echo $this->__('Bel me terug') ?></span></strong></div>
    <div class="block-content">
        <ul id="loadingform" class="form-list">
            <li class="fields">
                <div class="field">
                    <label for="name" class="required"><em>*</em><?php echo $this->__('Name') ?></label>
                    <div class="input-box">
                        <input name="name" class="input-text" id="call_name" title="<?php echo Mage::helper('contacts')->__('Name') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserName()) ?>" class="input-text jrequired" type="text" />
                    </div>
                </div>
            </li>
            <li>
                <label for="telephone" class="required"><em>*</em><?php echo $this->__('Telephone') ?></label>
                <div class="input-box">
                    <input name="telephone" id="call_telephone" title="<?php echo $this->__('Telephone') ?>" value="" class="input-text" type="text" />
                </div>
            </li>
            <li>
		        <input type="hidden" name="comment" id="call_comment" value="<?php echo $this->helper('core/url')->getCurrentUrl(); ?>" />
		        <input type="text" name="hideit" id="call_hideit" value="" style="display:none !important;" />
	        	<button onclick="call_subm(); return false;" title="<?php echo $this->__('Submit') ?>" class="button"><span><span><?php echo $this->__('Submit') ?></span></span></button>
            </li>
        </ul>
		<div id="loadingmask" style="display: none;">
		<div class="loader" id="loading-mask-loader"><img src="<?php echo str_replace("index.php/","",$this->getUrl()) ?>skin/adminhtml/default/default/images/ajax-loader-tr.gif" alt="<?php echo $this->__('Loading...') ?>"/></div>
		</div>
    </div>
</div>