<?php
/**
* @author Amasty Team
* @copyright Copyright (c) 2010-2011 Amasty (http://www.amasty.com)
* @package Amasty_Social
*/
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->getLang() ?>" lang="<?php echo $this->getLang() ?>" xmlns:fb="http://www.facebook.com/2008/fbml" style="padding:0;magrin:0;min-width:none;">
<head>
<?php echo $this->getChildHtml('head') ?>
<style type="text/css">
	.social-icons {
		display: none;
	}
</style>
</head>
<body style="background: white;padding:0;margin:0px;min-width:0;text-align:center;">
<?php echo $this->getChildHtml('content') ?>
</body>
</html>
