<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2010-2011 Amasty (http://www.amasty.com)
 * @package Amasty_Social
 */
?>

<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>

<div class="amsocial-popup">
    <div class="amsocial-header" style="position: relative;"><?php echo $this->getHeader(); ?>
        <div style="position: absolute; top: 3px; right: 5px;"><a href="#" onclick="amsocialPopupHide(); return false;">X</a></div>
    </div>
    <div class="amsocial-note"><?php echo $this->getMessage(); ?></div>
    <hr class="amsocial-hr"  />
    <div class="amsocial-container">
        <div class="amsocial-block block-one">
            <p><?php echo $this->__('Please choose one'); ?></p>
            <div class="amsocial-items" style="position: relative;">

                <?php if ($this->isEnabled('facebook')) : ?>
                    <div id="do_facebook">
                        <div class="fb-like" data-href="<?php echo $this->getFacebookUrl(); ?>" data-send="false" data-layout="box_count" data-width="55" data-show-faces="false" data-font="tahoma"></div>
                    </div>
                <?php endif; ?>

                <?php if ($this->isEnabled('google')) : ?>
                    <div id="do_google" >
                        <g:plusone size="tall" callback="doGoogle" href="<?php echo $this->getGoogleUrl(); ?>"></g:plusone>
                    </div>
                <?php endif; ?>

                <?php if ($this->isEnabled('twitter')) : ?>
                    <div id="do_twitter">
                        <a href="https://twitter.com/share" class="twitter-share-button"
                           data-url="<?php echo $this->getTwitterUrl(); ?>"
                           data-counturl="<?php echo $this->getTwitterCountUrl(); ?>"
                           data-via="<?php echo $this->getTwitterVia(); ?>"
                           data-text="<?php echo $this->getTwitterText(); ?>"
                           data-related="<?php echo $this->getTwitterRelated(); ?>"
                           data-count="vertical"><?php echo $this->__('Tweet'); ?></a>
                    </div>
                    <script type="text/javascript">// <![CDATA[
                        window.twttr = (function (d,s,id) {
                            var t, js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
                            js.src="//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
                            return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
                        }(document, "script", "twitter-wjs"));

                        // ]]>
                    </script>
                <?php endif; ?>
                <?php if ($this->isEnabled('pinterest')) : ?>
                    <div id="do_pinterst" onclick="doPinterest();" style="margin-top: 30px; margin-right: 0 !important;">
                        <a href="http://pinterest.com/pin/create/button/?url=<?php echo $this->getPinterstUrl(); ?>&media=<?php echo $this->getPinterstImageUrl(); ?>&description=<?php echo $this->getPinterstDesctiption(); ?>"
                           data-pin-do="buttonPin"
                           data-pin-config="above">
                            <img src="//assets.pinterest.com/images/pidgets/pin_it_button.png"/></a>
                    </div>
                    <script src="https://assets.pinterest.com/js/pinit.js" type="text/javascript" ></script>
                <?php endif; ?>
                <div style="clear: both;"></div>
            </div>

        </div>
        <div class="amsocial-block block-two">
            <p><?php echo $this->__('Get the promo code'); ?> </p>
            <div id="ccode_loading_text" style="display: none;"><?php echo $this->__('Loading Coupon...'); ?></div>
            <div id="ccode_placeholder" class="<?php if (!$this->getCookieCoupon()): ?>amsocial-nocode<?php endif; ?>">
                <?php if ($this->getCookieCoupon()): ?><?php echo $this->getCookieCoupon(); ?><?php else: ?><?php echo $this->__('Code will appear here'); ?><?php endif; ?>
            </div>
            <div class="amsocial-codecomment"><?php echo $this->__('Copy the code and use it in cart'); ?></div>
        </div>
        <div style="clear: both;"></div>
    </div>
    <hr class="amsocial-hr" />
</div>





<script src="https://connect.facebook.net/en_US/all.js"></script>

<script type="text/javascript">

    function doGoogle(object)
    {
        if ("on" == object.state)
        {
            amSocial.doGoogle();
        }
        increaseHeight();
    }

    function increaseHeight()
    {
        parent.document.getElementById("amsocial_iframe").style.height = 450 +"px";
    }

    function doPinterest()
    {
        amSocial.doPinterest();
    }

    <?php if ($this->isEnabled('facebook')) : ?>
    FB.init({appId: '<?php echo $this->getFacebookAppId(); ?>', status: true, cookie: true, xfbml: true});
    FB.Event.subscribe('edge.create',
        function(response) {
            increaseHeight();
            amSocial.doFacebook();
        }
    );

    FB.Event.subscribe('comment.create',
        function(response) {
            amSocial.doFacebook();
        }
    );
    <?php endif; ?>

    <?php if ($this->isEnabled('twitter')) : ?>
    twttr.ready(function (twttr) {
        twttr.events.bind('tweet', function(event) {
            amSocial.doTwitter();
        });
    });

    <?php endif; ?>

</script>


<script type="text/javascript">
    var amSocial = new amSocialPromo("ccode_placeholder", "ccode_loading_text", "<?php echo $this->getCouponUrl(); ?>", "<?php echo $this->getSaveUrl(); ?>", "<?php echo Mage::helper('amsocial')->isFirst();?>");
</script>


