.estimated-delivery-date.loading{
    background: url(ajax-loader.gif) no-repeat 50% 50% #eff5ea;
    min-height:60px
}



.estimated-delivery-date  {
    color: #00aa00;
    border-left: 5px solid transparent;
    background-color: transparent;
    padding:10px 0  10px 20px;
    margin:10px 0;
    position:relative;
    font-size: 15px;
    text-align:left;

}

.estimated-delivery-date::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
    border-right: none;

    top: 50%;
    left: 0;
    margin-top: -6px;
}

.estimated-delivery-date .edd_countdown .knob-container{
    display:inline;
    position:relative;
}
.estimated-delivery-date .edd_countdown .knob-container LABEL{
    font-weight: bold;
    bottom: -20px;
    left: 0;
    margin: auto;
    display: block;
    width: 100%;
    position: absolute;
    text-align: center;
}

.estimated-delivery-date .edd_countdown.knob-countdown{
    display:block;
    height:auto;
    margin-top:20px;
    margin-bottom: 20px;
}