/**
 * Magmodules.eu
 * http://www.magmodules.eu
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@magmodules.eu so we can send you a copy immediately.
 *
 * @category    Magmodules
 * @package     Magmodules_Webwinkelkeur
 * @author      Magmodules <info@magmodules.eu)
 * @copyright   Copyright (c) 2014 (http://www.magmodules.eu)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 
.webwinkelconnect-snippets {
}
 
.webwinkelconnect-snippets .rating-box {
	float: left;
	margin-right: 5px;
	margin-top: 5px;
	width: 60px; 
	height: 13px; 
	font-size:0;  
	background:url('images/bkg_rating.gif') 0 0 repeat-x;
	text-indent:-999em; 
	overflow:hidden;	
}

.webwinkelconnect-snippets .rating { 
	float:left; 
	height: 9px; 
	background:url('images/bkg_rating.gif') 0 100% repeat-x; 
}

/** FOR DEFAULT USE OF RATING STARTS, REMOVE BOTH CLASSES FROM CSS **/