.amsocial-iframe
{
    max-width: 570px;
    min-width: 314px;
    width: 95%;
    height: 360px;
    position: relative;
    top: -360px;
    padding-top: -170px;
    margin: 0 auto;
    border: 3px solid #faa819;
    background-color: white;
    z-index: 99999;
}


#amsocial_iframe_id {
    width:100%;
    height: 100%;
    border:0;
}

#amsocial_dark
{
    position: fixed;
    top: 0px;
    left: 0;
    background:url('ie.png');
    background: -moz-linear-gradient(rgba(11,11,11,0.1), rgba(11,11,11,0.6)) repeat-x rgba(11,11,11,0.2);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(11,11,11,0.1)), to(rgba(11,11,11,0.6))) repeat-x rgba(11,11,11,0.2);
    z-index: 2147483647;
    width: 100%;
    height: 100%;
}

.amsocial-header
{
    height: 40px;
    font-size: 22px;
    color: white;
    background: #faa819;
    padding-top: 3px;
}

.amsocial-header a
{
    color: white;
    text-decoration: none;
}

.amsocial-note
{
    font-size: 14px;
    color: #515151;
    line-height: 16px;
    width:92%;
    margin:0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
}

hr.amsocial-hr
{
    color: #faa819;
    border: 0px none;
    height: 1px;
    text-align: left;
    background-color: #faa819;
    margin: 0 auto;
    width: 92%;
}

.amsocial-block {
    float: left;
    font-size: 15px;
    max-width: 265px;
    padding-left: 20px;
    text-align: left;
    width: 100%;
}


@media screen and (max-width: 565px) {
    
  .amsocial-block {
        float: none;  
        font-size: 14px;
        max-width: 240px;
        padding-left: 18px;
        text-align: left;
        width: 100%;
    }
    
    .amsocial-iframe {
        max-width: 490px;
    }
    
    .block-one{
        position: relative;
        top: 97px;
        clear: both;
    }
    
    .block-two {
        position: relative;
        top: -98px;
        clear: both;
    }
    
    .amsocial-note
    {
         font-size: 13px;
    }
    
    .amsocial-header
    {
        font-size: 20px;
    }
}

.amsocial-items
{
    text-align: center;
    left: -3px;
}

.amsocial-items div
{
    float: left;
    width: 55px;
}

.amsocial-popup table
{
   padding-top: 15px;
   padding-bottom: 27px;
  padding-right: 20px;
}

.amsocial-icons{
    margin-left: 20px;
}

.amsocial-popup table .title
{
    font-size: 14px;
    font-weight: bold;
}

#ccode_placeholder
{
    border: 1px solid #bbbbbb;
    height: 32px;
    width: 210px;
    font-size: 18px;
    padding-top: 4px;
    padding-left: 8px;
    color: #00940a;
}

.amsocial-nocode
{
    color: #bbbbbb !important;
}

.amsocial-codecomment
{
    padding-top: 3px;
    color: #bbbbbb;
}

/* Side image styling */

.amsocial-side-image
{
    display: block;
    position: fixed;
    right: -0px;
    top: 320px;
    z-index: 9999;
}