<?php
/**
 * Additional scripts
 */
?>

<?php
	//Get grid configuration array
	$theme = $this->helper('fortis');
	$gc = $theme->getCfgGroup('category_grid');
?>
<?php if(Mage::getModel('cms/block')->load('deal_banner')->getIsActive()) : ?>
	<div class="deal-banner" style="display: none;">
		<?php echo Mage::app()->getLayout()->createBlock('cms/block')->setBlockId('deal_banner')->toHtml(); ?>
		<div class="close-deal">&times;</div>
	</div>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			if (sessionStorage.doNotShowDeal) {
			    
			} else {
			    $('.deal-banner').show();
			}

			$('.deal-banner .close-deal').click(function() {
				$('.deal-banner').hide();
				sessionStorage.doNotShowDeal = true;
			});
			
		});
	</script>
<?php endif; ?>
<script type="text/javascript">
	//<![CDATA[

	<?php //Products grid: set equal height for grid items ?>
	<?php if ($gc['equal_height']): ?>
	var gridItemsEqualHeightApplied = false;
	function setGridItemsEqualHeight($)
	{
		var $list = $('.category-products-grid');
		var $listItems = $list.children();

		var centered = $list.hasClass('centered');
		var gridItemMaxHeight = 0;
		$listItems.each(function() {
			
			$(this).css("height", "auto"); <?php //Reset height ?>
			var $object = $(this).find('.actions');

			<?php //Align button center ?>
			if (centered)
			{
				var objectWidth = $object.width();
				var availableWidth = $(this).width();
				var space = availableWidth - objectWidth;
				var leftOffset = space / 2;
				$object.css("padding-left", leftOffset + "px"); <?php //Set left offset of the button ?>
			}

			<?php //Calculate top padding of the item and use it as bottom offset for the button ?>
			var bottomOffset = parseInt($(this).css("padding-top"));
			if (centered) bottomOffset += 10;
			$object.css("bottom", bottomOffset + "px");

			<?php //If "action" container is visible ?>
			if ($object.is(":visible"))
			{
				<?php //Set new bottom padding: height of the object + bottom offset ?>
				var objectHeight = $object.height();
				$(this).css("padding-bottom", (objectHeight + bottomOffset) + "px");
			}

			<?php //////////////////////////////////////////////////////////////// ?>			
			gridItemMaxHeight = Math.max(gridItemMaxHeight, $(this).height());
		});

		//Apply max height
		$listItems.css("height", gridItemMaxHeight + "px");
		gridItemsEqualHeightApplied = true;

	}
	<?php endif; ?>



	jQuery(function($) {

		<?php //Collapsible: init ?>
		$('.collapsible').each(function(index) {
			$(this).prepend('<span class="opener">&nbsp;</span>');
			if ($(this).hasClass('active'))
			{
				$(this).children('.block-content').css('display', 'block');
			}
			else
			{
				$(this).children('.block-content').css('display', 'none');
			}			
		});
		<?php //Collapsible: toggle ?>
		$('.collapsible .opener').click(function() {
			
			var parent = $(this).parent();
			if (parent.hasClass('active'))
			{
				$(this).siblings('.block-content').stop(true).slideUp(300, "easeOutCubic");
				parent.removeClass('active');
			}
			else
			{
				$(this).siblings('.block-content').stop(true).slideDown(300, "easeOutCubic");
				parent.addClass('active');
			}
			
		});
		
		
		<?php //Drop-down ?>
		var ddOpenTimeout;
		var dMenuPosTimeout;
		var DD_DELAY_IN = 200;
		var DD_DELAY_OUT = 0;
		var DD_ANIMATION_IN = 0;
		var DD_ANIMATION_OUT = 0;
		$(".clickable-dropdown > .dropdown-toggle").click(function() {
			$(this).parent().addClass('open');
			$(this).parent().trigger('mouseenter');
		});
		$(".dropdown").hover(function() {
			
			
			var ddToggle = $(this).children('.dropdown-toggle');
			var ddMenu = $(this).children('.dropdown-menu');
			var ddWrapper = ddMenu.parent(); <?php //$(this); ?>
			
			<?php //Clear old position of dd menu ?>
			ddMenu.css("left", "");
			ddMenu.css("right", "");
			
			<?php //Show dd menu ?>
			if ($(this).hasClass('clickable-dropdown'))
			{
				<?php //If dropdown is opened (parent already has class 'open') ?>
				if ($(this).hasClass('open'))
				{
					$(this).children('.dropdown-menu').stop(true, true).delay(DD_DELAY_IN).fadeIn(DD_ANIMATION_IN, "easeOutCubic");
				}
			}
			else
			{
				<?php //Add class 'open' to dd ?>
				clearTimeout(ddOpenTimeout);
				ddOpenTimeout = setTimeout(function() {
					
					ddWrapper.addClass('open');
					
				}, DD_DELAY_IN);
				
				//$(this).addClass('open');
				$(this).children('.dropdown-menu').stop(true, true).delay(DD_DELAY_IN).fadeIn(DD_ANIMATION_IN, "easeOutCubic");
			}
			
			<?php //Set new position of dd menu.
			      //This code is delayed the same amount of time as drop-down animation. ?>
			clearTimeout(dMenuPosTimeout);
			dMenuPosTimeout = setTimeout(function() {

				if (ddMenu.offset().left < 0)
				{
					var space = ddWrapper.offset().left; <?php //Space available on the left of dd ?>
					ddMenu.css("left", (-1)*space);
					ddMenu.css("right", "auto");
				}
			
			}, DD_DELAY_IN);
			
		}, function() {
			var ddMenu = $(this).children('.dropdown-menu');
			clearTimeout(ddOpenTimeout); <?php //Clear, to close dd on mouseleave ?>
			ddMenu.stop(true, true).delay(DD_DELAY_OUT).fadeOut(DD_ANIMATION_OUT, "easeInCubic");
			if (ddMenu.is(":hidden"))
			{
				ddMenu.hide();
			}
			$(this).removeClass('open');
		});
		
		
		
		<?php //Shadow class for main content area ?>
		<?php if ($theme->isColor( $theme->getCfgDesign('main/inner_bg_color') )): ?>
			$(".main").addClass("show-bg");
		<?php endif; ?>
		
		
		
		<?php //Back to top ?>
		var windowScroll_t;
		$(window).scroll(function(){
			
			clearTimeout(windowScroll_t);
			windowScroll_t = setTimeout(function() {
										
				if ($(this).scrollTop() > 100)
				{
					$('#scroll-to-top').fadeIn();
				}
				else
				{
					$('#scroll-to-top').fadeOut();
				}
			
			}, 500);
			
		});
		
		$('#scroll-to-top').click(function(){
			$("html, body").animate({scrollTop: 0}, 600, "easeOutCubic");
			return false;
		});
		
		
		
		



		<?php //Display product alternative image ?>
		$('.products-grid, .products-list').on('mouseenter', '.product-image-wrapper', function() {
			$(this).find(".alt-img").fadeIn(400, "easeOutCubic");
		}).on('mouseleave', '.product-image-wrapper', function() {
			$(this).find(".alt-img").stop(true).fadeOut(400, "easeOutCubic");
		});



		<?php //Fade on hover ?>
		$('.fade-on-hover').on('mouseenter', function() {
			$(this).animate({opacity: 0.75}, 300, 'easeInOutCubic');
		}).on('mouseleave', function() {
			$(this).stop(true).animate({opacity: 1}, 300, 'easeInOutCubic');
		});



		<?php //Event: deferred resize ?>
		var dResize = {

			winWidth : 0
			, winHeight : 0
			, windowResizeTimeout : null

			, init : function()
			{
				dResize.winWidth = $(window).width();
				dResize.winHeight = $(window).height();
				dResize.windowResizeTimeout;

				$(window).on('resize', function(e) {
					clearTimeout(dResize.windowResizeTimeout);
					dResize.windowResizeTimeout = setTimeout(function() {
						dResize.onEventResize(e);
					}, 50);
				});
			}

			, onEventResize : function(e)
			{
				//Prevent from executing the code in IE when the window wasn't actually resized
				var winNewWidth = $(window).width();
				var winNewHeight = $(window).height();

				//Code in this condition will be executed only if window was actually resized
				if (dResize.winWidth != winNewWidth || dResize.winHeight != winNewHeight)
				{
					//Trigger deferred resize event
					$(window).trigger("themeResize", e);

					//Additional code executed on deferred resize
					dResize.onEventDeferredResize();
				}

				//Update window size variables
				dResize.winWidth = winNewWidth;
				dResize.winHeight = winNewHeight;
			}

			, onEventDeferredResize : function() //Additional code, execute after window was actually resized
			{
				//Products grid: equal height of items
				<?php if ($gc['equal_height']): ?>
					setGridItemsEqualHeight($);
				<?php endif; ?>

			}

		}; //end: dResize

		dResize.init();



	}); /* end: jQuery(){...} */
	
	

	jQuery(window).load(function(){
		
		<?php //Products grid: equal height of items ?>
		<?php if ($gc['equal_height']): ?>
			setGridItemsEqualHeight(jQuery);
		<?php endif; ?>

	}); /* end: jQuery(window).load(){...} */

	//]]>
</script>
<script type="text/javascript">
	jQuery(document).ready(function() {

		//jQuery('.mobnav-trigger').append(jQuery('.header-phone-mobile'));
		jQuery('.nav-item--only-blocks').removeClass('nav-item--only-blocks');

		if(jQuery(window).scrollTop() > jQuery('.header-container2').outerHeight()) {
			jQuery('#top .sidebar-pinto').addClass('sticky');
		}

		jQuery(window).scroll(function() {
			if(jQuery(window).scrollTop() > jQuery('.header-container2').outerHeight()) {
				jQuery('#top .sidebar-pinto').addClass('sticky');
			} else {
				jQuery('#top .sidebar-pinto').removeClass('sticky');
			}
		});
	});
</script>
<?php if(isset($_GET['clearall']) && count($_GET) > 1): ?>
	<script type="text/javascript">
	jQuery(document).ready(function() {
		if(typeof fme_layered_add_params == 'function') {
			<?php foreach ($_GET as $getKey => $getValue): ?>
				<?php if($getKey != 'clearall'): ?>
					fme_layered_add_params(<?php echo "'$getKey', '$getValue'"; ?>);
				<?php endif; ?>
			<?php endforeach; ?>
			fme_layered_make_request();
		}
	});
	</script>
<?php endif; ?>
<script type="text/javascript">
	jQuery(document).ready(function() {
		jQuery('.fme_layered_clearall').each(function() {
			window.location = window.location + '?clearall=true';
		});

		jQuery('.countdown').removeClass('countdown-xsmall');
	});
</script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/arrowButton.min.js') ?>"></script> 