<?php
	$theme = Mage::helper('fortis');
	$storeCode = Mage::app()->getStore()->getCode();
	
	$isResponsive = $theme->getCfgLayout('responsive/responsive', $storeCode);
	$maxBreak = Mage::helper('infortis/responsive')->mapWidthToBreakpoint($theme->getMaxWidth($storeCode), $storeCode);
	
//	Mage::register('infortisTheme', true);
//	Mage::register('infortisTheme_responsive', $isResponsive);
//	Mage::register('infortisTheme_maxBreak', $maxBreak);
?>
<script type="text/javascript">
//<![CDATA[
var infortisTheme = {}; infortisTheme.responsive = <?php echo ($isResponsive ? 'true' : 'false'); ?>; infortisTheme.maxBreak = <?php echo $maxBreak; ?>;
//]]>
</script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-66387675-1', 'auto');
ga('send', 'pageview');

</script>