<?php
/**
 * Vincent Enjalbert
 *
 * Version Française :
 * *****************************************************************************
 *
 * Notification de la Licence
 *
 * Ce fichier source est sujet au CLUF
 * qui est fourni avec ce module dans le fichier LICENSE-FR.txt.
 * Il est également disponible sur le web à l'adresse suivante:
 * http://www.enjalbert.net/licences/magento/LICENSE-FR.txt
 *
 * =============================================================================
 *        NOTIFICATION SUR L'UTILISATION DE L'EDITION MAGENTO
 * =============================================================================
 * Ce module est conçu pour l'édition COMMUNITY de Magento
 * WebCooking ne garantit pas le fonctionnement correct de cette extension
 * sur une autre édition de Magento excepté l'édition COMMUNITY de Magento.
 * WebCooking ne fournit pas de support d'extension en cas
 * d'utilisation incorrecte de l'édition.
 * =============================================================================
 *
 * English Version :
 * *****************************************************************************
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE-EN.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.web-cooking.net/licences/magento/LICENSE-EN.txt
 *
 * =============================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =============================================================================
 * This package designed for Magento COMMUNITY edition
 * WebCooking does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * WebCooking does not provide extension support in case of
 * incorrect edition usage.
 * =============================================================================
 *
 * @category   Webcooking
 * @package    Webcooking_GoogleUniversalAnalytics
 * @copyright  Copyright (c) 2011-2016 Vincent René Lucien Enjalbert
 * @license    http://www.web-cooking.net/licences/magento/LICENSE-EN.txt
 */
?>
<?php if(!Mage::getStoreConfig('googleuniversalanalytics/api/access_code')): ?>
    <button onclick="setLocation('<?php echo $this->getUrl('adminhtml/system_config/edit', array('section'=>'googleuniversalanalytics')) ?>#googleuniversalanalytics_dashboard-head')"><?php echo $this->__('Authenticate'); ?></button>
<?php else: ?>
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-payment-method"><?php echo $this->__('Google Analytics Data') ?></h4>
        </div>
        <fieldset>
            <table cellspacing="0" class="form-list">
                <tbody>
                    <?php foreach($this->getAnalyticsData() as $label=>$value): ?>
                    <tr>
                        <td class="label">
                            <label><?php echo $this->__($label) ?></label>
                        </td>
                        <td class="value">
                            <label><?php echo $value ?></label>
                        </td>
                    </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>

        </fieldset>
    </div>
<?php endif; ?>