<?php
/**
 * Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 * @see Mage_Review_Block_Product_View
 */
?>
<?php
    $_helper = $this->helper('catalog/output');
    $_product = $this->getProduct();
    $theme = $this->helper('fortis');
    $helperSnippets = $this->helper('fortis/rsnippets');

    //CSS classes based on product type
    $productTypeId = $_product->getTypeId();
    $productType = '';
    if ($productTypeId === 'simple') {
        $productType = 'simple';
    } elseif ($productTypeId === 'bundle') {
        $productType = 'bundle';
    } elseif ($productTypeId === 'grouped') {
        $productType = 'grouped';
    }
    $productTypeClasses = '';
    if ($productType !== '')
    {
        $productTypeClasses .= ' is-type-'.$productType;
    }
    if ($_product->isAvailable() === false)
    {
        $productTypeClasses .= ' is-out-of-stock';
    }

    //Rich snippets
    $useRichSnippets = ($helperSnippets->isEnabledOnProductPage() && $productTypeId !== 'grouped');
    $priceProperties = '';
    if ($useRichSnippets)
    {
        $priceProperties = $helperSnippets->getPriceProperties($_product); //Has to be called before getOfferItemscope
    }
?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view pv-top-outline" <?php if ($useRichSnippets) echo $helperSnippets->getProductItemscope(); ?>>

    <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?> class="product-view-form">
        <div class="product-top-wrapper-cover-top"></div>
        <div class="product-top-wrapper">
        <div class="product-top-wrapper2">
        <div class="product-top-wrapper3 clearer"> <!-- for IE8 fixes -->



        <?php echo $this->getBlockHtml('formkey'); ?>
        <div class="no-display">
            <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
            <input type="hidden" name="related_product" id="related-products-field" value="" />
        </div>

        <?php
            //Product collaterals
            $section = array();

            //Related products. $section['related'] is set only if related products (or replacement) exist
            $replaceRelated = $theme->getCfg('product_page/replace_related');
            if ($replaceRelated == 1) //don't replace with static block
            {
                if ($tmpHtml = trim($this->getChildHtml('catalog.product.related')))
                    $section['related'] = $tmpHtml;
                //$section['related'] = trim($this->getChildHtml('catalog.product.related'));
            }
            elseif ($replaceRelated == 2) //if related is empty, replace with static block
            {
                if ($tmpHtml = trim($this->getChildHtml('catalog.product.related')))
                    $section['related'] = $tmpHtml;
                else //related empty
                    if ($tmpHtml = $this->getChildHtml('block_product_replace_related'))
                        $section['related'] = '<div class="block_product_replace_related">'. $tmpHtml .'</div>';
            }
            elseif ($replaceRelated == 3) //replace with static block
            {
                if ($tmpHtml = $this->getChildHtml('block_product_replace_related'))
                    $section['related'] = '<div class="block_product_replace_related">'. $tmpHtml .'</div>';
            }

            //Up-sell products. $section['upsell'] is set only if up-sell products (or replacement) exist
            $replaceUpsell = $theme->getCfg('product_page/replace_upsell');
            if ($replaceUpsell == 1) //don't replace with static block
            {
                if ($tmpHtml = trim($this->getChildHtml('upsell_products')))
                    $section['upsell'] = $tmpHtml;
                //$section['upsell'] = $this->getChildHtml('upsell_products');
            }
            elseif ($replaceUpsell == 2) //if upsell is empty, replace with static block
            {
                if ($tmpHtml = trim($this->getChildHtml('upsell_products')))
                    $section['upsell'] = $tmpHtml;
                else //upsell empty
                    if ($tmpHtml = $this->getChildHtml('block_product_replace_upsell'))
                        $section['upsell'] = '<div class="block_product_replace_upsell">'. $tmpHtml .'</div>';
            }
            elseif ($replaceUpsell == 3) //replace with static block
            {
                if ($tmpHtml = $this->getChildHtml('block_product_replace_upsell'))
                    $section['upsell'] = '<div class="block_product_replace_upsell">'. $tmpHtml .'</div>';
            }



            //Assign related products to selected position
            if (isset($section['related']))
            {
                $relatedPosition = $theme->getCfg('product_page/related_position');
                //TODO:remove: $relatedPosition = 11;
                switch ($relatedPosition)
                {
                    case 10:
                        $p['secondaryCol'][0] = $section['related'];
                        break;
                    case 11:
                        $p['secondaryCol'][1] = $section['related'];
                        break;
                    case 20:
                        $p['collatSecondaryCol'] = $section['related'];
                        break;
                }
            }



            //Width (in grid units) of product page sections
            $imgColUnits                    = $theme->getCfg('product_page/image_column');
            $primaryColUnits                = $theme->getCfg('product_page/primary_column');
            $secondaryColUnits              = $theme->getCfg('product_page/secondary_column');
            $container2ColUnits             = $imgColUnits + $primaryColUnits;
            $collatPrimaryColUnits          = $imgColUnits + $primaryColUnits;
            $collatSecondaryColUnits        = $secondaryColUnits;

            //If no secondary column
            if (empty($secondaryColUnits))
            {
                $primaryColUnits            += 12 - ($imgColUnits + $primaryColUnits);
                $container2ColUnits         = $imgColUnits + $primaryColUnits;
                $collatPrimaryColUnits      = 9;
                $collatSecondaryColUnits    = 3;
            }

            //If no related products at the side of the tabs, stretch collateral primary column
            if (!isset($p['collatSecondaryCol']))
            {
                $collatPrimaryColUnits      = 12;
                $collatSecondaryColUnits    = 0;
            }
            //If no related products in the secondary column, stretch container2 (product options)
            if (!isset($p['secondaryCol']))
            {
                $container2ColUnits = 12;
            }

            $secondaryColUnits = 0;
            $primaryColUnits = 8;

            //Grid classes
            $imgColGridClass                = 'grid12-' . $imgColUnits;
            $primaryColGridClass            = 'grid12-' . $primaryColUnits;
            $secondaryColGridClass          = 'grid12-' . $secondaryColUnits;
            $container2ColGridClass         = 'grid12-' . $container2ColUnits;
            $collatPrimaryColGridClass      = 'grid12-' . $collatPrimaryColUnits;
            $collatSecondaryColGridClass    = 'grid12-' . $collatSecondaryColUnits;
            if (empty($secondaryColUnits))
            {
                $secondaryColGridClass  = '';
            }
        ?>

        <div class="product-img-column <?php echo $imgColGridClass; ?>">
            <?php echo $this->getChildHtml('media') ?>
            <?php //Product labels
                echo $this->helper('fortis/labels')->getLabels($_product);
            ?>
        </div>

        <div class="product-shop <?php echo $primaryColGridClass; ?>">
<meta itemprop="itemCondition" content="http://schema.org/NewCondition" />
            <div class="product-name">
                <h1 itemprop="name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
            </div>

            <?php echo $this->getReviewsSummaryHtml($_product, false, true); //reviews ?>

            <?php if ($_product->getShortDescription()): ?>
                <div class="short-description">
                    <div class="std"><?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?></div>
                </div>
            <?php endif;?>

            <?php if ($sku = $_product->getSku()): ?>
                <?php if ($theme->getCfg('product_page/sku')): ?>
                    <div class="sku">
                        <span class="label"><?php echo $this->__('SKU'); ?>: </span>
                        <span class="value"><?php echo $sku; ?></span>
                    </div>
                <?php endif; ?>
                <?php if ($useRichSnippets): ?><meta itemprop="sku" content="<?php echo $sku; ?>" /><meta itemprop="gtin13" content="<?php echo $sku; ?>" /><?php endif; ?>
            <?php endif; ?>

            <?php echo $this->getChildHtml('alert_urls'); //alerts ?>

            <?php if ($extrahint_html = $this->getChildHtml('extrahint')): //qty increments ?>
                <div class="extrahint-wrapper"><?php echo $extrahint_html; ?></div>
            <?php endif; ?>

            <div <?php if ($useRichSnippets) echo $helperSnippets->getOfferItemscope(); ?>>
                <div class="product-type-data clearer<?php echo $productTypeClasses; ?>"><?php echo $this->getChildHtml('product_type_data'); ?></div>
                <?php echo $this->getTierPriceHtml(); //tier prices ?>
                <?php echo $priceProperties; ?>
            </div> <?php //end: offers ?>

            <?php if (!$this->hasOptions()): //add to cart when no options (e.g. simple products) ?>
                <?php if($_product->isSaleable()): ?>
                    <div class="add-to-box">
                        <?php echo $this->getChildHtml('addtocart') ?>
                    </div>
                    <div style="margin-top:10px;">
                      <img style="width: 121px; height: 42px;" src="/media/wysiwyg/pinnen_bijAflevering.jpg" />
                    </div>
                <?php endif; ?>
                <?php echo $this->getChildHtml('extra_buttons') ?>
            <?php endif; ?>

            <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
                <div style="margin-top:10px;">
                      <img style="width: 121px; height: 42px;" src="/media/wysiwyg/pinnen_bijAflevering.jpg" />
                </div>
                <?php if ($container1_html = $this->getChildChildHtml('container1', '', true, true)): ?>
                    <div class="container1-wrapper"><?php echo $container1_html; ?></div>
                <?php endif; ?>
            <?php endif;?>

            <?php if ($addtoLinksHtml = $this->getChildHtml('addto')): //compare, wishlist, send to friend ?>
                <div class="action-box clearer">
                    <?php echo $addtoLinksHtml; ?>
                </div>
            <?php endif; ?>

            <?php echo $this->getChildHtml('other'); ?>

            <?php if ($tmpHtml = $this->getChildHtml('block_product_primary_bottom')): ?>
                <div class="feature-wrapper top-border block_product_primary_bottom"><?php echo $tmpHtml; ?></div>
            <?php endif; ?>

            <?php if ($tmpHtml = $this->getChildHtml('product_primary_bottom_placeholder')): //Placeholder for extensions ?>
                <div class="feature-wrapper top-border"><?php echo $tmpHtml; ?></div>
            <?php endif; ?>

            <script type="text/javascript">
            jQuery(document).ready(function() {
                var modalBack = jQuery('<div class="message-modal-back" style="display: none;"></div>');
                jQuery('body').append(modalBack);

                jQuery('.product-options dl').each(function() {
                    if(jQuery(this).find('dt label').html() == "Extra opties") {
                        var list = jQuery(this).find('ul');
                        var firstButton = jQuery('<div class="option-read-more"><a>Lees meer...</a></div>');
                        list.prepend(jQuery('<li class="delivery"><div class="delivery-icon"><span class=" glyphicon glyphicon-plus-sign"></span></div><label><span class=" glyphicon glyphicon-ok checkbox-yes"></span>&nbsp;Gratis bezorgen</label></li>').append(firstButton));
                        var firstModal = jQuery('<div class="message-modal" style="display: none"></div>');
                        var firstCloseButton = jQuery('<div class = "message-modal-close"></div>');
                        firstModal.append(firstCloseButton);
                        firstModal.append('<h2>Gratis bezorgen</h2>');
                        firstModal.append('<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('free_delivery')->toHtml(); ?>');
                        jQuery('body').append(firstModal);

                        firstButton.click(function() {
                            firstModal.show();
                            modalBack.show();
                            return false;
                        });

                        firstCloseButton.click(function() {
                            firstModal.hide();
                            modalBack.hide();
                            return false;
                        });

                        modalBack.click(function() {
                            firstModal.hide();
                            modalBack.hide();
                        });

                        list.find('li').each(function() {
                            var label = jQuery(this).find('label').html();

                            if(label.toLowerCase().indexOf('aansluit') > -1) {
                                jQuery(this).prepend('<div class="aansluit-icon"><span class=" glyphicon glyphicon-plus-sign"></span></div>');
                                var button = jQuery('<div class="option-read-more"><a>Lees meer...</a></div>');
                                jQuery(this).append(button);
                                var modal = jQuery('<div class="message-modal" style="display: none"></div>');
                                var closeButton = jQuery('<div class = "message-modal-close"></div>');
                                modal.append(closeButton);
                                modal.append('<h2>' + label + '</h2>');
                                modal.append('<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('aansluiten')->toHtml(); ?>');
                                jQuery('body').append(modal);

                                button.click(function() {
                                    modal.show();
                                    modalBack.show();
                                    return false;
                                });

                                closeButton.click(function() {
                                    modal.hide();
                                    modalBack.hide();
                                    return false;
                                });

                                modalBack.click(function() {
                                    modal.hide();
                                    modalBack.hide();
                                });
                            }
                            else if(label.toLowerCase().indexOf('garantie') > -1) {
                                jQuery(this).prepend('<div class="garantie-icon"><span class=" glyphicon glyphicon-plus-sign"></span></div>');
                                var button = jQuery('<div class="option-read-more"><a>Lees meer...</a></div>');
                                jQuery(this).append(button);
                                var modal = jQuery('<div class="message-modal" style="display: none"></div>');
                                var closeButton = jQuery('<div class = "message-modal-close"></div>');
                                modal.append(closeButton);
                                modal.append('<h2>' + label + '</h2>');
                                modal.append('<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('garantie')->toHtml(); ?>');
                                jQuery('body').append(modal);

                                button.click(function() {
                                    modal.show();
                                    modalBack.show();
                                    return false;
                                });

                                closeButton.click(function() {
                                    modal.hide();
                                    modalBack.hide();
                                    return false;
                                });

                                modalBack.click(function() {
                                    modal.hide();
                                    modalBack.hide();
                                });
                            }
                            else if(label.toLowerCase().indexOf('service') > -1) {
                                jQuery(this).prepend('<div class="service-icon"><span class=" glyphicon glyphicon-plus-sign"></span></div>');
                                var button = jQuery('<div class="option-read-more"><a>Lees meer...</a></div>');
                                jQuery(this).append(button);
                                var modal = jQuery('<div class="message-modal" style="display: none"></div>');
                                var closeButton = jQuery('<div class = "message-modal-close"></div>');
                                modal.append(closeButton);
                                modal.append('<h2>' + label + '</h2>');
                                modal.append('<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('service')->toHtml(); ?>');
                                jQuery('body').append(modal);

                                button.click(function() {
                                    modal.show();
                                    modalBack.show();
                                    return false;
                                });

                                closeButton.click(function() {
                                    modal.hide();
                                    modalBack.hide();
                                    return false;
                                });

                                modalBack.click(function() {
                                    modal.hide();
                                    modalBack.hide();
                                });
                            }
                        });
                    }
                });
            });
            </script>

        </div> <!-- end: product-shop -->

        <?php if ($secondaryColUnits): //(!empty($secondaryColUnits)): ?>
            <div class="product-secondary-column <?php echo $secondaryColGridClass; ?> custom-sidebar-right">

                <?php //Placeholder for extensions ?>
                <?php if ($tmpHtml = $this->getChildHtml('product_secondary_top_placeholder')): //Placeholder for extensions ?>
                    <div class="inner product_secondary_top_placeholder">
                        <div class="margin-top margin-bottom"><?php echo $tmpHtml; ?></div>
                    </div>
                <?php endif; ?>

                <div class="inner">

                    <?php if (isset($p['secondaryCol'][0])): ?>
                        <?php echo $p['secondaryCol'][0]; ?>
                    <?php endif; ?>

                    <?php if ($tmpHtml = $this->getChildHtml('block_product_secondary_bottom')): ?>
                        <div class="feature-wrapper block_product_secondary_bottom"><?php echo $tmpHtml; ?></div>
                    <?php endif; ?>

                    <?php if (isset($p['secondaryCol'][1])): ?>
                        <div class="margin-top"><?php echo $p['secondaryCol'][1]; ?></div>
                    <?php endif; ?>

                </div>
            </div> <!-- end: product-secondary-column -->
        <?php endif; ?>

        <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
            <?php if ($container2_html = $this->getChildChildHtml('container2', '', true, true)): ?>
                <div class="box-additional <?php echo $container2ColGridClass; ?>">
                    <div class="container2-wrapper"><?php echo $container2_html; ?></div>
                </div>
            <?php endif; ?>
        <?php endif; ?>



        </div> <!-- end: product-top-wrapper3 -->
        </div> <!-- end: product-top-wrapper2 -->
        </div> <!-- end: product-top-wrapper -->
        <div class="product-top-wrapper-cover-bottom"></div>
    </form>
    <div class="box-additional product-bottom pinto-product">
        <div class="sidebar-pinto" style="
    padding-top: 7px;
    background-color: #EAEAEA;
    color:black;
    left: 0.9%;
    padding-left:20px;
"><span class="firstHalf" style="display:inline-block;">
<span class="glyphicon glyphicon-earphone"></span><span><b>Bel ons</b><br>085-0030530</span>
<span class="glyphicon glyphicon-envelope" style="font-size: 2em!important;"></span><span><b>Mail ons</b><br>info@tvreus.nl</span>
</span>
<span class="secondHalf" style="display:inline-block;">
<span class="pinto-image"><img style="width:24px; margin-top: 10px;" src="/media/wysiwyg/icoon_vrachtwagen_zwart.png" alt=""></span><span><b>Voor 23:59 besteld</b><br>Morgen in huis<img style="height:12px;" src="/media/wysiwyg/nl.png" alt=""><img style="height:12px;" src="/media/wysiwyg/bel.png" alt=""></span>
<span class="pinto-image"><img style="width:24px; margin-top: 2px;" src="/media/wysiwyg/pakket.png" alt=""></span><span><b>Gratis thuisbezorgd</b><br>7 dagen per week</span>
</span>
</div>    </div>


  <div class="box-additional" id="custom-keurmerk1" style="float:left">
    <?php
    $leftIcons=$_product->getResource()->getAttribute('left_icons')->getFrontend()->getValue($_product);
    if ($leftIcons == 'Ja') {
  echo'  <div>
      <img src="/media/wysiwyg/home/ciplus.png" />
      <img src="/media/wysiwyg/home/ziggo.png" />
      <img src="/media/wysiwyg/home/upc.png" />
    </div> ';
  }
    ?>
  </div>

    <div class="box-additional" id ="custom-keurmerk2" style="float:right">
      <?php
      $rightIcons=$_product->getResource()->getAttribute('right_icons')->getFrontend()->getValue($_product);
      if ($rightIcons == 'Ja') {
    echo'
      <div>
        <img src="/media/wysiwyg/home/goedkoopste_van_nl.png" />
      </div>';
    }
      ?>
    </div>

    <script type="text/javascript">
    //<![CDATA[
        var productAddToCartForm = new VarienForm('product_addtocart_form');
        productAddToCartForm.submit = function(button, url) {
            if (this.validator.validate()) {
                var form = this.form;
                var oldUrl = form.action;

                if (url) {
                   form.action = url;
                }
                var e = null;
                try {
                    this.form.submit();
                } catch (e) {
                }
                this.form.action = oldUrl;
                if (e) {
                    throw e;
                }

                if (button && button != 'undefined') {
                    button.disabled = true;
                }
            }
        }.bind(productAddToCartForm);

        productAddToCartForm.submitLight = function(button, url){
            if(this.validator) {
                var nv = Validation.methods;
                delete Validation.methods['required-entry'];
                delete Validation.methods['validate-one-required'];
                delete Validation.methods['validate-one-required-by-name'];
                if (this.validator.validate()) {
                    if (url) {
                        this.form.action = url;
                    }
                    this.form.submit();
                }
                Object.extend(Validation.methods, nv);
            }
        }.bind(productAddToCartForm);
    //]]>
    </script>

    <div class="box-additional grid12-12 product-bottom pinto-product">
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('block_sidebar_pinto')->toHtml(); ?>
    </div>
    <div class="box-additional grid12-12 product-bottom">
        <?php if($_product->getData('left_icons')): ?>
            <div style="float: left;" class="certs"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('product_bottom_left')->toHtml(); ?></div>
        <?php endif; ?>
        <?php if($_product->getData('right_icons')): ?>
            <div style="float: right;" class="goedkoopste"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('product_bottom_right')->toHtml(); ?></div>
        <?php endif; ?>
    </div>

    <?php if (isset($p['collatSecondaryCol'])): ?>
        <div class="box-additional box-sidebar grid12-12">
            <div><?php echo $p['collatSecondaryCol']; ?></div>
        </div>
    <?php endif; ?>

    <div class="box-additional box-tabs grid12-12">
        <?php
            $accessories = $this->getChildGroup('detailed_info', 'getChildHtml');
            if(isset($accessories) && isset($accessories["accessories_products"])) {
                $accessories = $accessories['accessories_products'];
            } else {
                $accessories = null;
            }
        ?>
        <?php $info_tabs_html = trim($this->getChild('info_tabs')->setData('accessories', $accessories)->toHtml());
            if ($info_tabs_html) echo $info_tabs_html; ?>


        <?php echo $this->getChildHtml('product_additional_data') ?>
    </div> <!-- end: box-tabs -->

    <?php if (isset($section['upsell'])): ?>
        <div class="box-additional box-up-sell <?php echo $collatPrimaryColGridClass; ?>"><?php echo $section['upsell']; ?></div>
    <?php endif; ?>
</div> <!-- end: product-view -->
