<?php
/**
 *
 * @category MultiSafepay
 * @package  MultiSafepay_Msp
 */
?>
<?php /** @var $this MultiSafepay_Msp_Block_IdealIssuers */ ?>
<?php $_code = $this->getMethodCode() ?>
<ul  class="form-list" id="payment_form_<?php echo $_code ?>" style="display:none">	
  <li>
    <?php $instructions = Mage::getStoreConfig('msp_gateways/' . $this->getMethodCode() . '/instructions', Mage::app()->getStore()->getId()); ?>		

    <?php
    if ($instructions != '') {
        echo $instructions;
        echo '<br /><br/>';
    }
    ?>
    <?php $_banks = $this->getIdealIssuers(); 
        
    
    ?>
   <label style="padding:0;" class="required">Selecteer uw bank: <em>*</em></label>
	<br/>
	<?php foreach ($_banks as $bank) { ?>
		<label>
          
          <?php 
          $fileWithPath = 'msp' . DS . 'ideallogos' . DS . $bank['code']['VALUE'] . '.' . 'gif';
            $iconFileDir = Mage::getBaseDir(Mage_Core_Model_Store::URL_TYPE_MEDIA) . DS . $fileWithPath;
            if (file_exists($iconFileDir)) {
                $iconFileUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . $fileWithPath;
              ?>
            <input type="radio" name="payment[<?php echo $_code ?>_bank]" value="<?php echo $bank['code']['VALUE']; ?>">
			<span style="display:block;float:left;width:45px;"><img src="<?php echo $iconFileUrl;?>"></span>&nbsp;<?php echo $bank['description']['VALUE']; ?>
            <?php }else{
                ?>
                <input type="radio" name="payment[<?php echo $_code ?>_bank]" value="<?php echo $bank['code']['VALUE']; ?>">
                <?php echo $bank['description']['VALUE']; ?>
            <?php 
                
            }
          ?>
		</label>
		<br/>
	<?php } ?>
	
  </li>

</ul>
