<?php

/**
 * Vincent Enjalbert
 *
 * Version Française :
 * *****************************************************************************
 *
 * Notification de la Licence
 *
 * Ce fichier source est sujet au CLUF
 * qui est fourni avec ce module dans le fichier LICENSE-FR.txt.
 * Il est également disponible sur le web à l'adresse suivante:
 * http://www.enjalbert.net/licences/magento/LICENSE-FR.txt
 *
 * =============================================================================
 *        NOTIFICATION SUR L'UTILISATION DE L'EDITION MAGENTO
 * =============================================================================
 * Ce module est conçu pour l'édition COMMUNITY de Magento
 * WebCooking ne garantit pas le fonctionnement correct de cette extension
 * sur une autre édition de Magento excepté l'édition COMMUNITY de Magento.
 * WebCooking ne fournit pas de support d'extension en cas
 * d'utilisation incorrecte de l'édition.
 * =============================================================================
 *
 * English Version :
 * *****************************************************************************
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE-EN.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.web-cooking.net/licences/magento/LICENSE-EN.txt
 *
 * =============================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =============================================================================
 * This package designed for Magento COMMUNITY edition
 * WebCooking does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * WebCooking does not provide extension support in case of
 * incorrect edition usage.
 * =============================================================================
 *
 * @category   Webcooking
 * @package    Webcooking_GoogleUniversalAnalytics
 * @copyright  Copyright (c) 2011-2016 Vincent René Lucien Enjalbert
 * @license    http://www.web-cooking.net/licences/magento/LICENSE-EN.txt
 */
?>
<?php if (!class_exists('Mage_Core_Helper_Cookie') || !Mage::helper('core/cookie')->isUserNotAllowSaveCookie()): ?>
<?php $accountId = Mage::helper('googleuniversalanalytics')->getAccountId() ?>
<?php $isGtm = Mage::helper('googleuniversalanalytics/gtm')->isActive() ?>

<?php /* GTM DATA LAYER */ ?>
<?php if($isGtm && Mage::helper('googleuniversalanalytics/gtm')->shouldAddContainer()): ?>
<script type="text/javascript">
var dataLayer = [];
</script>
<?php endif; ?>
<?php /* !GTM DATA LAYER */ ?>



<script type="text/javascript">    
    var wcIsGtm = <?php echo $isGtm?'true':'false' ?>;
    var productImpressions = [];
    var promoImpressions = [];
    var wcGuaTrackerName = '<?php echo Mage::helper('googleuniversalanalytics')->getTrackerName()?>';
    var wcGuaGlobalTrackerName = '<?php echo Mage::helper('googleuniversalanalytics')->getGlobalTrackerName()?>';
    var wcGuaGlobalTrackerEnabled = '<?php echo Mage::helper('googleuniversalanalytics')->isGlobalActive()?'1':'0'?>';
    
    var referralExclusionList = [];
    <?php foreach(Mage::helper('googleuniversalanalytics')->getReferralExclusionList() as $domain): ?>
        referralExclusionList.push('<?php echo $domain ?>');
    <?php endforeach; ?>
        
    if(document.referrer) {
        for(excludedDomain in referralExclusionList) {
            if(document.referrer.indexOf(excludedDomain) != -1) {
                document.referrer = '';
            }
        }
    }
    
    
<?php echo $this->_getOptOutTrackingCode($accountId) ?>
<?php if(!$isGtm): ?>
        (function(w,e,b,c,oo,ki,ng){w['GoogleAnalyticsObject']=oo;w[oo]=w[oo]||function(){
        (w[oo].q=w[oo].q||[]).push(arguments)},w[oo].l=1*new Date();ki=e.createElement(b),
        ng=e.getElementsByTagName(b)[0];ki.async=1;ki.src=c;ng.parentNode.insertBefore(ki,ng)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    <?php echo $this->_getInitTrackingCode($accountId) ?>
<?php endif; ?>
    
    
<?php echo $this->_getProductDetailsViewCode() ?>
<?php echo $this->_getTimeOnPageEventCode() ?>

<?php if(!$this->getClientId() || preg_match('%-%i', $this->getClientId())/*self-generated ID..*/): ?>
    <?php if($isGtm): ?>
        function updateGuaSession() {
            if(!ga || (typeof ga.getAll != 'function')) { //GA has not been loaded by GTM yet
                setTimeout(updateGuaSession, 1000); 
                return;
           }
            var clientId = ga.getAll()[0].get('clientId');
            if(clientId) {
                var date = new Date();
		date.setTime(date.getTime()+(24*60*60*1000));
                document.cookie = 'guaclientid='+clientId+'; expires='+date.toGMTString()+'; path=/';
            }
        }
        dataLayer.push({
            'event' : 'newSession',
            'eventCallback' : function() {
                if (document.loaded) {
                    updateGuaSession();
                } 
                else {
                    document.observe('dom:loaded', updateGuaSession);
                }
               
            }
        });
    <?php else: ?>
        ga(function(tracker) {
          if(wcGuaTrackerName) {
            var tracker = ga.getByName(wcGuaTrackerName.replace('.',''));      
          }
          var clientId = tracker.get('clientId');
          var date = new Date();
          date.setTime(date.getTime()+(24*60*60*1000));
          document.cookie = 'guaclientid='+clientId+'; expires='+date.toGMTString()+'; path=/';
        });
    <?php endif; ?>
<?php endif; ?>
    
    



<?php echo $this->_getCustomDimensionsCode() ?>
    
<?php echo $this->_getOrdersTrackingCode(); //needs to be first if EE enabled ?>

<?php echo $this->_getBeforePageViewCustomTag() ?>
   

<?php //echo $this->_getEventsTrackingCode() ?>
   
<?php echo $this->_getPageViewTrackingCode() ?>
    
<?php echo $this->_getAfterPageViewCustomTag() ?>

</script>
<?php endif; ?>
