
<?php
$storeId = Mage::app()->getRequest()->getParam('store');
$productId = Mage::app()->getRequest()->getParam('id');
$fields = Mage::helper("estimateddeliverydate")->getConfig();
?>


<div class="entry-edit">



    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend">Back to stock date</h4>

        </div>
        <div class="fieldset fieldset-wide" >
            <div class="hor-scroll">
                <table class="form-list" cellspacing="0">
                    <tbody>
                        <?php
                        $_resource = Mage::helper("estimateddeliverydate")->getProduct($productId, $storeId)->getResource();
                        $optionValue = $_resource->getAttributeRawValue($productId, 'back_to_stock', Mage::app()->getStore());
                        if ($optionValue != "")
                            $value = Mage::getModel("core/date")->gmtDate("Y/m/d", strtotime($optionValue));
                        else
                            $value = null;
                        ?>
                        <tr>
                            <td class="label"><label for="back_to_stock">Stock expected for</label></td>
                            <td class="value">
                                <input name="product[back_to_stock]" id="back_to_stock_clone" value="<?php echo $value; ?>" class=" input-text" style="width:110px !important;" type="text"> <img src="/skin/adminhtml/default/default/images/grid-cal.gif" alt="" class="v-middle" id="back_to_stock_clone_trig" title="Select Date" style=""><img src="/skin/adminhtml/default/default/images/cancel_icon.gif" alt="" class="v-middle" onclick="$('back_to_stock_clone').value = ''" title="Delete date" style="cursor:pointer;margin-left:10px">
                                <script type="text/javascript">
                                    //<![CDATA[
                                    Calendar.setup({
                                        inputField: "back_to_stock_clone",
                                        // ifFormat: "%m/%e/%Y",
                                        showsTime: false,
                                        button: "back_to_stock_clone_trig",
                                        align: "Bl",
                                        singleClick: true
                                    });
                                    //]]>
                                </script>       
                                <p class="note">The estimated delivery date will be calculated from that date for backorder. Leave empty to use the default backorder calculation. </p>
                            </td>
                            <td class="scope-label"><span class="nobr">[GLOBAL]</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <?php $data = array(); ?>

    <?php foreach (array("orders", "backorders") as $type) : ?>

        <div class="entry-edit-head">

            <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('estimateddeliverydate')->__('Estimated delivery date for ') ?> <?php echo $type; ?></h4>

        </div>
        <fieldset>
            <?php foreach ($fields as $name => $field) : ?>
                <?php $attributeCode = Mage::helper('estimateddeliverydate')->getAttributeShorten($name); ?>

                <?php $data = array_merge_recursive($data, Mage::helper('estimateddeliverydate')->getSettings($productId, $type, $name, $storeId)); ?>

                <table cellspacing="0" class="form-list" style="<?php if (!$field['visible']) echo "display:none;" ?>" id="table_catalog_<?php echo $type; ?>_<?php echo $attributeCode; ?>">

                    <tr>
                        <td class="label">
                            <label for="<?php echo $type; ?>_<?php echo $attributeCode; ?>">
                                <?php echo Mage::helper('estimateddeliverydate')->__($field['label']) ?>
                            </label>
                        </td>
                        <td class="value">
                            <?php $disabled = ($data[$type]['use_config_' . $name] || @$data[$type]['use_base_' . $name] && $storeId != Mage_Core_Model_App::ADMIN_STORE_ID); ?>
                            <?php if ($field['type'] == "text"): ?>
                                <input id="<?php echo $type; ?>_<?php echo $attributeCode; ?>" name="<?php echo $type; ?>_<?php echo $attributeCode; ?>" class="updateOnChange input-text input <?php echo $disabled ? "disabled" : null; ?>" <?php echo $disabled ? "disabled" : null; ?> type="text" value="<?php echo $data[$type][$name]; ?>" />
                            <?php elseif ($field['type'] == "select"): ?>
                                <?php $values = explode(',', $data[$type][$name]); ?>
                                <select multiple id="<?php echo $type; ?>_<?php echo $attributeCode; ?>"  class="updateOnChange input <?php echo $disabled ? "disabled" : null; ?>" <?php echo $disabled ? "disabled" : null; ?> >
                                    <?php foreach ($field['values']->toOptionArray() as $option): ?>
                                        <option value="<?php echo $option['value'] ?>" <?php if (in_array($option['value'], $values)) echo "selected" ?>><?php echo $option['label'] ?></option>
                                    <?php endforeach; ?>
                                </select>
                            <?php elseif ($field['type'] == "time"): ?>
                                <?php $values = explode(',', $data[$type][$name]); ?>


                                <select  style="width:40px" id="<?php echo $type; ?>_<?php echo $attributeCode; ?>"  class="input time updateOnChange  <?php echo $disabled ? "disabled" : null; ?>" <?php echo $disabled ? "disabled" : null; ?> >
                                    <?php for ($i = 0; $i <= 24; $i++): ?>
                                        <option value="<?php echo str_pad($i, 2, 0, STR_PAD_LEFT) ?>" <?php if ($values[0] == str_pad($i, 2, 0, STR_PAD_LEFT)) echo "selected" ?>><?php echo str_pad($i, 2, 0, STR_PAD_LEFT) ?></option>
                                    <?php endfor; ?>
                                </select> :
                                <select  style="width:40px"  id="<?php echo $type; ?>_<?php echo $attributeCode; ?>"  class="input skip updateOnChange  <?php echo $disabled ? "disabled" : null; ?>" <?php echo $disabled ? "disabled" : null; ?> >
                                    <?php for ($i = 0; $i <= 60; $i++): ?>
                                        <option value="<?php echo str_pad($i, 2, 0, STR_PAD_LEFT) ?>" <?php if ($values[1] == str_pad($i, 2, 0, STR_PAD_LEFT)) echo "selected" ?>><?php echo str_pad($i, 2, 0, STR_PAD_LEFT) ?></option>
                                    <?php endfor; ?>
                                </select> :
                                <select  style="width:40px"  id="<?php echo $type; ?>_<?php echo $attributeCode; ?>"  class="input skip updateOnChange  <?php echo $disabled ? "disabled" : null; ?>" <?php echo $disabled ? "disabled" : null; ?> >
                                    <?php for ($i = 0; $i <= 60; $i++): ?>
                                        <option value="<?php echo str_pad($i, 2, 0, STR_PAD_LEFT) ?>" <?php if ($values[2] == str_pad($i, 2, 0, STR_PAD_LEFT)) echo "selected" ?>><?php echo str_pad($i, 2, 0, STR_PAD_LEFT) ?></option>
                                    <?php endfor; ?>
                                </select>

                            <?php endif; ?>
                            <br>
                            <input class="updateOnChange checkbox" name="use_config_<?php echo $type; ?>_<?php echo $attributeCode; ?>" type="checkbox" id="use_config_<?php echo $type; ?>_<?php echo $attributeCode; ?>" value="1" onclick="estimatedDeliveryDate.useConfig(this, '<?php echo $type; ?>', '<?php echo $name; ?>');" <?php echo (@$data[$type]['use_base_' . $name] && $storeId != Mage_Core_Model_App::ADMIN_STORE_ID) ? "disabled" : null; ?> <?php echo ($data[$type]['use_config_' . $name]) ? "checked" : null; ?>/>
                            <label for="use_config_<?php echo $type; ?>_<?php echo $attributeCode; ?>" class="normal"><?php echo Mage::helper('catalog')->__('Use Config Settings') ?></label>

                        </td>
                        <td class="value scope-label"><?php echo Mage::helper('adminhtml')->__('[STORE VIEW]') ?></td>
                        <?php if ($storeId != Mage_Core_Model_App::ADMIN_STORE_ID): ?>
                            <td class="value use-default">
                                <input class="updateOnChange" type="checkbox" value="1" onclick="estimatedDeliveryDate.useBase(this, '<?php echo $type; ?>', '<?php echo $name; ?>');"  id="use_base_<?php echo $type; ?>_<?php echo $attributeCode; ?>" name="use_base_<?php echo $type; ?>_<?php echo $attributeCode; ?>" <?php echo (@$data[$type]['use_base_' . $name]) ? "checked" : null; ?>>
                                <label class="normal" for="use_base_<?php echo $type; ?>_<?php echo $attributeCode; ?>"><?php echo Mage::helper('catalog')->__('Use Default Value'); ?></label>
                            </td>
                        <?php endif; ?>
                    </tr>
                </table>
                                    <?php endforeach; ?>
        </fieldset>
            <?php endforeach; ?>


</div>

<script language="javascript">
    estimatedDeliveryDate.data =<?php echo json_encode($data); ?>
</script>


