#mageworxPrevLink, #nextLink{ width: 49%; height: 100%; background-image: url('https://magento-320957-983504.cloudwaysapps.com/js/mageworx/lightbox/css/data:image/gif;base64,AAAA'); /* Trick IE into showing hover */ display: block; }
