<form action="<?php echo Mage::getUrl('contacts/index/post'); ?>" id="contactForm" method="post">
    <div class="fieldset">
        <h2 class="legend"><?php echo Mage::helper('contacts')->__('Contact Information') ?></h2>
        <ul class="form-list">
            <li class="fields">
                <div class="field">
                    <label for="voornaam"><?php echo Mage::helper('contacts')->__('Voornaam') ?></label>
                    <div class="input-box">
                        <input name="voornaam" id="voornaam" title="<?php echo Mage::helper('contacts')->__('Voornaam') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserName()) ?>" class="input-text" type="text" />
                    </div>
                </div>
                <div class="field">
                    <label for="achternaam" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Achternaam') ?></label>
                    <div class="input-box">
                        <input name="achternaam" id="achternaam" title="<?php echo Mage::helper('contacts')->__('Achternaam') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserName()) ?>" class="input-text required-entry" type="text" />
                    </div>
                </div>
            </li>
            <li class="fields">
                <div class="field">
                    <label for="adres"><?php echo Mage::helper('contacts')->__('Adres') ?></label>
                    <div class="input-box">
                        <input name="adres" id="adres" title="<?php echo Mage::helper('contacts')->__('Adres') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserName()) ?>" class="input-text" type="text" />
                    </div>
                </div>
                <div class="field">
                    <label for="postcode"><?php echo Mage::helper('contacts')->__('Postcode') ?></label>
                    <div class="input-box">
                        <input name="postcode" id="postcode" title="<?php echo Mage::helper('contacts')->__('Postcode') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserName()) ?>" class="input-text" type="text" />
                    </div>
                </div>
                <div class="field">
                    <label for="land"><?php echo Mage::helper('contacts')->__('Land') ?></label>
                    <div class="input-box">
                        <input name="land" id="land" title="<?php echo Mage::helper('contacts')->__('Land') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserName()) ?>" class="input-text" type="text" />
                    </div>
                </div>
            </li>
            <li class="fields">
                <div class="field">
                <label for="email" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Email') ?></label>
                <div class="input-box">
                    <input name="email" id="email" title="<?php echo Mage::helper('contacts')->__('Email') ?>" value="" class="input-text required-entry" type="text" />
                </div>
                </div>
            </li>
            <li class="fields">
                <div class="field">
                <label for="telephone"><?php echo Mage::helper('contacts')->__('Telephone') ?></label>
                <div class="input-box">
                    <input name="telephone" id="telephone" title="<?php echo Mage::helper('contacts')->__('Telephone') ?>" value="" class="input-text" type="text" />
                </div>
                </div>
            </li>

            <li class="fields">
                <div class="field">
                    <label for="bestelnummer" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Bestelnummer') ?></label>
                    <div class="input-box">
                        <input name="bestelnummer" id="bestelnummer" title="<?php echo Mage::helper('contacts')->__('Bestelnummer') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserName()) ?>" class="input-text required-entry" type="text" />
                    </div>
                </div>
                <div class="field">
                    <label for="besteldatum"><?php echo Mage::helper('contacts')->__('Besteldaum') ?></label>
                    <div class="input-box">
                        <input name="besteldatum" id="besteldatum" title="<?php echo Mage::helper('contacts')->__('Besteldatum') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserName()) ?>" class="input-text" type="text" />
                    </div>
                </div>
            </li>
            <li class="wide">
                <label for="klacht" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Klacht Omschrijving') ?></label>
                <div class="input-box">
                    <textarea name="klacht" id="klacht" title="<?php echo Mage::helper('contacts')->__('Klacht Omschrijving') ?>" class="required-entry input-text" cols="7" rows="3"></textarea>
                </div>
            </li>
        </ul>
    </div>
    <div class="buttons-set">
        <p class="required"><?php echo Mage::helper('contacts')->__('* Required Fields') ?></p>
        <input type="text" name="hideit" id="hideit" value="" style="display:none !important;" />
        <button type="submit" title="<?php echo Mage::helper('contacts')->__('Submit') ?>" class="button"><span><span><?php echo Mage::helper('contacts')->__('Submit') ?></span></span></button>
    </div>
</form>
<script type="text/javascript">
    //<![CDATA[
    var contactForm = new VarienForm('contactForm', true);
    //]]>
</script>