<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Afptc
 * @version    1.1.12
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php
/**
 * @var Mage_Adminhtml_Block_Notification_Window $this
 */
?>
<?php if ($this->canShow()): ?>
    <script type="text/javascript">
        //<![CDATA[
        var messagePopupClosed = false;
        function openMessagePopup() {
            var height = $('html-body').getHeight();
            $('message-popup-window-mask').setStyle({'height':height+'px'});
            toggleSelectsUnderBlock($('message-popup-window-mask'), false);
            Element.show('message-popup-window-mask');
            $('message-popup-window').addClassName('show');
        }

        function closeMessagePopup() {
            toggleSelectsUnderBlock($('message-popup-window-mask'), true);
            Element.hide('message-popup-window-mask');
            $('message-popup-window').removeClassName('show');
            messagePopupClosed = true;
        }

        Event.observe(window, 'load', openMessagePopup);
        Event.observe(window, 'keyup', function(evt) {
            if(messagePopupClosed) return;
            var code;
            if (evt.keyCode) code = evt.keyCode;
            else if (evt.which) code = evt.which;
            if (code == Event.KEY_ESC) {
                closeMessagePopup();
            }
        });
        //]]>
    </script>
    <div id="message-popup-window-mask" style="display:none;"></div>
    <div id="message-popup-window" class="message-popup">
        <div class="message-popup-head">
            <a href="#" onclick="closeMessagePopup(); return false;" title="<?php echo $this->getCloseText(); ?>"><span><?php echo $this->getCloseText(); ?></span></a>
            <h2><?php echo $this->getHeaderText(); ?></h2>
        </div>
        <div class="message-popup-content">
            <div class="message">
                <span class="message-icon message-<?php echo $this->getSeverityText();?>" style="background-image:url(<?php echo $this->getSeverityIconsUrl() ?>);"><?php echo $this->getSeverityText();?></span>
                <p class="message-text"><?php echo $this->getNoticeMessageText(); ?></p>
            </div>
            <div style="width: 50%;float: left;margin-top:7px;">
            <?php if(strpos($this->getNoticeMessageUrl(), 'aheadworks.com') !== false) : ?>
                <a href="<?php echo $this->getUrl('adminhtml/system_config/edit', array('section' => 'awall'))?>">
                    <?php echo $this->__('Notifications Settings') ?>
                </a>
            <?php endif ?>
            </div>
            <div style="width: 50%;float: right" class="read-more">
                <a href="<?php echo $this->getNoticeMessageUrl(); ?>" onclick="this.target='_blank';"><?php echo $this->getReadDetailsText(); ?></a>
            </div>
            <br clear="all"/>
        </div>
    </div>
<?php endif; ?>
